<div class="card bg-light border-light mb-1" *ngIf="card">
    <div class="card-body">
        <div class="space-between">
            <span class="text-gray">#{{project.id}}</span>
            <div>
                <button class="delete" (click)="onDelete(project.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
                </button>
                <app-new-personalize-button [iCard]="iCard"></app-new-personalize-button>
            </div>
        </div>
        <table>
            <tr class="px-2">
                <td class="img">
                    <img [src]="primary" onContextMenu="return false;">
                </td>
                <td class="details px-2">
                    <div>
                        <h6 class="text-purple my-2" [routerLink]="['/new/details/card/' + card.id]">{{card.name}}</h6>
                        <span class="desc text-gray mb-3" *ngIf="card.description.trim() !== ''">{{card.description}}</span>
                        <h6 class="text-purple my-2">{{card.getPersonalizePriceDisplay()}}</h6>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>