

.images-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.image-div{
    width: 80px;
    height: 80px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    opacity: 0.7;
    cursor: pointer;
}

.image-div.selected {
    border: 1px solid #cd19b9;
}

.image-div:hover{
    opacity: 1;
}

.image-div img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 5px;
}

.image-div:hover img{
    object-fit: cover;
}

.text-gallery{
    cursor: pointer;
    color: #6b2d98;
}
