<ion-content [fullscreen]="true">
    <h2 style="font-size:0px;margin: 0;">Events and Occasions Cards</h2>
    <section class="section-name bk-hw">
        <div class="container animate main">
            <div class="header-div">
                <ion-label class="label-header">EVENT AND OCCASIONS CARDS</ion-label>
            </div>
            <div class="subheader-div">
                <ion-label class="label-subheader">Explore our range of heartfelt messages and beautifully designed
                    cards to find the perfect expression of your sentiments for any event and occasion.</ion-label>
            </div>

            <div class="row">
                <div class="col-md-12" style="position: relative">
                    <!-- <img src="/assets/images/2024/father/event/feature-category.png" onContextMenu="return false;">
                    <div style="height: 29%;
                    width: 24%;
                    position: absolute;
                    bottom: 11%;
                    cursor: pointer;
                    left: 27%;" [routerLink]="['/cards/event/rI1NlE173U4xC44FQP2r']"></div>
                    <div style="height: 29%;
                    width: 24%;
                    position: absolute;
                    bottom: 11%;
                    cursor: pointer;
                    left: 52%;
                    " [routerLink]="['/signandsendcards/dsTx2AuuJb3I7iqQ4ytn']"></div> -->

                    <img src="/assets/images/2024/grad/event/feature-category.png">
                    <div style="    height: 42%;
                    width: 37%;
                    position: absolute;
                    bottom: 23%;
                    cursor: pointer;
                    left: 4%;" [routerLink]="['/cards/event/7TrEt1o2415ST4CU7sy7']"></div>

                    <div style="height: 42%;
                    width: 36%;
                    position: absolute;
                    bottom: 23%;
                    cursor: pointer;
                    right: 4%;
                    " [routerLink]="['/signandsendcards/bQfuTiNhWeVyUKIhXdbc']"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">    
                    <h2 class="label-header">Card Categories</h2>
                    <app-event-preview  *ngFor="let event of events" [event]="event" [design]="getDesign(event)"></app-event-preview>
                </div>
            </div>

            <!-- Removed for now. still need to think of better way to present banners-->
            <!-- <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/easter/page/free.png" onContextMenu="return false;">
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/more-min.png">
                    <br /><br />
                </div>
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/hbd/more-2-min.png">
                    <div style="height: 67%;width: 21%; position: absolute; left: 23%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 45.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 68.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/signandsend']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/delivery-ph-min.png" *ngIf="priceService.getLocation() == 'ph'"
                        class="img-fluid " style="width:100%">
                    <img src="/assets/images/2024/hbd/delivery-min.png" *ngIf="priceService.getLocation() != 'ph'"
                        class="img-fluid " style="width:100%">
                    <br /> <br />
                </div>
            </div> -->
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>