<div class="products">
    <div>
        <img src="/assets/images/new/s-cards.png" class="img-fluid" [routerLink]="[ isMobile ? '/cards' : '/new/cards/all']" onContextMenu="return false;"><br /><br />
        <button type="button" [routerLink]="[ isMobile ? '/cards' : '/new/cards/all']">
            CARDS
        </button>
    </div>
    <div>
        <img src="/assets/images/new/s-stickers.png" class="img-fluid" [routerLink]="[ isMobile ? '/stickers' : '/new/stickers/all']" onContextMenu="return false;"><br /><br />
        <button type="button" [routerLink]="[ isMobile ? '/stickers' :'/new/stickers/all']">
            STICKERS
        </button>
    </div>
    <div>
        <img src="/assets/images/new/s-postcards.png" class="img-fluid" [routerLink]="[ isMobile ? '/postcards' : '/new/postcards/all']"
            onContextMenu="return false;"><br /><br />
        <button type="button" [routerLink]="[ isMobile ? '/postcards' :'/new/postcards/all']">
            POSTCARDS
        </button>
    </div>
    <div *ngIf="location === 'ph'">
        <img src="/assets/images/new/s-gifts.png" class="img-fluid" [routerLink]="[ isMobile ? '/gifts' : '/new/gifts/all']" onContextMenu="return false;"><br /><br />
        <button type="button" [routerLink]="[ isMobile ? '/gifts' : '/new/gifts/all']">
            GIFTS
        </button>
    </div>
</div>