.main{
    aspect-ratio: 5/3;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

button.close{
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
}

button.back{
    position: absolute;
    top: calc(50% - 15px);
    left: 12px;
    background: transparent;
    border: none;
}

button.back ion-icon{
    color: #cb6ce6;
}

button.next{
    position: absolute;
    top: calc(50% - 15px);
    right: 12px;
    background: transparent;
    border: none;
}

button.next ion-icon{
    color: #cb6ce6;
}