



<ion-tabs >
    <ion-tab-bar slot="bottom" *ngIf="user">
        <ion-tab-button tab="home">
            <ion-icon name="play-circle"></ion-icon>
            Home
        </ion-tab-button>
        <ion-tab-button tab="library">
            <ion-icon name="library"></ion-icon>
            Cards
        </ion-tab-button>
        <ion-tab-button tab="library">
            <ion-icon name="library"></ion-icon>
            Stickers
        </ion-tab-button>
        <ion-tab-button tab="library">
            <ion-icon name="library"></ion-icon>
            Postcards
        </ion-tab-button>
        <ion-tab-button tab="search">
            <ion-icon name="library"></ion-icon>
            Gifts
        </ion-tab-button>
        <ion-tab-button tab="search">
            <ion-icon name="person-circle-outline"></ion-icon>
            Account
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>