<div class="h-100">
    <div class="mxw-1920px mt-2">
        <app-new-title title="Cards" [breadcrumbs]="breadcrumbs"></app-new-title>
    </div>
    <div class="py-3 bg-light">
        <div class="mxw-1920px">
            <app-new-card-events (onClick)="onClickEvent($event)"></app-new-card-events>
        </div>
    </div>
    <div class="mxw-1920px mt-4" *ngIf="events.length > 0">
        <ion-chip [outline]="true" color="tertiary" *ngFor="let event of events">
            <ion-icon name="close-circle" (click)="onRemoveEvent(event)"></ion-icon>
            <ion-label>{{event}}</ion-label>
        </ion-chip>
    </div>
    <app-new-loading [loading]="loading"></app-new-loading>
    <div class="mxw-1920px row mt-4" *ngIf="loading === false">
        <ion-col size="2" class="px-1" *ngFor="let card of display.slice(0, displayCount)">
            <app-new-card-thumb [card]="card"></app-new-card-thumb>
        </ion-col>
    </div>
    <div class="text-center py-3" *ngIf="display.length > displayCount && loading === false">
        <button type="button" class="btn loadmore" (click)="loadmore()">LOAD MORE</button>
    </div>
</div>
