* {
    font-family: Proxima Nova;
}

.label-header {
    font-family: Proxima Nova;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: #5e17eb;
    margin: 0;
}

.label-header.lh-h2 {
    font-size: 2.5rem;
}

.label-header.lh-h3 {
    font-size: 2.0rem;
}

.event-badge {
    font-family: "Proxima Nova";
    border: 1px #5f18eb solid;
    color: #5f18eb;
    font-size: 1rem;
    padding: 4px 15px;
    border-radius: 20px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
}

.loadmore {
    border: 0.35px #cb6ce6 solid;
    color: #fff;
    background: #cb6ce6;
    cursor: pointer;
    padding-inline: 30px;
    padding-block: 6px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
}

.loadmore:hover {
    color: #cb6ce6;
    background: #fff;
}

.max-5 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.max-5 div {
    width: 20%;
    padding-inline: 5px;
    margin-bottom: 10px;
}
.accordion-flush
{
    border: 1px solid #4854e0;
    border-radius: 6px;
    padding: 10px 10px;

}

.accordion-header{
    margin-top: 0px;
}

.accordion-button{
    padding: 10px;
}

.accordion-body{
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.load{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.accordion-button:not(.collapsed) {
    color: #5e17eb !important;
    background-color: #ead1f1 !important;
}

.accordion-button:focus {
    box-shadow: 0px 0px 0px 3px #ead1f1 !important;
}