<div class="mxw-1920px mt-2">
    <app-new-title title="Cards" [breadcrumbs]="breadcrumbs"></app-new-title>
</div>
<div class="py-3 bg-light">
    <div class="mxw-1920px">
        <div class="row">
            <div class="col-md-12">
                <h3 class="label-header lh-h3">What are you shopping for?</h3>
                <span class="fibei-badge">Birthday</span>
                <span class="fibei-badge">Anniversary</span>
                <span class="fibei-badge">Wedding</span>
                <span class="fibei-badge">Retirement</span>
                <span class="fibei-badge">Graduation</span>
                <span class="fibei-badge">Mothers Day</span>
                <span class="fibei-badge">Fathers Day</span>
            </div>
        </div>
    </div>
</div>
<div class="mxw-1920px row mt-4">
    <ion-col size="3">
        <app-new-card-thumb></app-new-card-thumb>
    </ion-col>
    <ion-col size="3">
        <app-new-card-thumb></app-new-card-thumb>
    </ion-col>
    <ion-col size="3">
        <app-new-card-thumb></app-new-card-thumb>
    </ion-col>
    <ion-col size="3">
        <app-new-card-thumb></app-new-card-thumb>
    </ion-col>
    <ion-col size="3">
        <app-new-card-thumb></app-new-card-thumb>
    </ion-col>
    <ion-col size="3">
        <app-new-card-thumb></app-new-card-thumb>
    </ion-col>
</div>
