<div class="modal-body main">
    <div class="text-end">
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="text-center title">
        <h3 class="text-purple">Sender Details</h3>
    </div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="px-5 my-5">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="firstname" placeholder="firstname" formControlName="firstname"
                            [ngClass]="{ 'is-invalid': submitted && form.controls.firstname.errors}">
                        <label for="firstname">First Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lastname" placeholder="lastname" formControlName="lastname"
                            [ngClass]="{ 'is-invalid': submitted && form.controls.lastname.errors}">
                        <label for="lastname">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="email" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors}">
                        <label for="email">Email Address</label>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="create-btn" [disabled]="processing">
                    <span class="spinner-border spinner-border-sm me-1" aria-hidden="true" *ngIf="processing"></span>
                    {{processing ? 'Saving Changes ...' : 'Save Changes'}}
                </button>
            </div>
        </div>
    </form>
</div>