<div class="card bg-light border-light mb-2" *ngIf="_cart && model">
    <div class="card-body">
        <table>
            <tr>
                <td class="mark">
                    <input class="form-check-input" type="checkbox" [checked]="_cart.mark" (change)="onChange($event)">
                </td>
                <td class="image">
                    <img [src]="primary" [alt]="model.name" onContextMenu="return false;">
                </td>
                <td class="details px-3">
                    <span class="badge text-bg-secondary" *ngIf="_cart.type === 'card'">CARD</span>
                    <span class="badge text-bg-secondary" *ngIf="_cart.type === 'card' && _cart.personalize !== null && _cart.personalize !== undefined">PERSONALIZE</span>
                    <span class="badge text-bg-secondary" *ngIf="cardbundle">BUNDLE</span>
                    <span class="badge text-bg-secondary" *ngIf="_cart.type === 'sticker'">STICKER</span>
                    <span class="badge text-bg-secondary" *ngIf="_cart.type === 'postcard'">POSTCARD</span>
                    <span class="badge text-bg-secondary" *ngIf="_cart.type === 'gift'">GIFT</span>

                    <h4 class="text-purple mt-1 mb-0 cursor" [routerLink]="['/new/details/' + _cart.type + '/' + _cart.itemId]">{{model.name}}</h4>
                    <p class="text-purple mb-0">{{model.events.join(', ')}}</p>
                    <p class="text-gray mb-0">{{model.description}}</p>
                    <p class="text-purple mb-0" *ngIf="bundleDetails !== ''">{{bundleDetails}}</p>
                </td>
                <td class="amount">
                    <h5 *ngIf="!_cart.isDiscounted && !_cart.isPromo" class="text-purple my-0">{{_cart.priceDisplay()}}</h5>

                    <h5 *ngIf="_cart.isDiscounted && !_cart.isPromo" class="text-purple my-0">
                        <span class="slanted-strike"><s>{{_cart.originalPriceDisplay()}}</s></span>
                        {{_cart.priceDisplay()}}
                    </h5>
                    <span class="text-purple my-0" *ngIf="_cart.isDiscounted && !_cart.isPromo" class="cus-discount">{{_cart.discount!.code}} {{_cart.discountDisplay()}}</span> 

                    <h5 *ngIf="_cart.isPromo && _cart.isPromoAdjusted === false" class="text-purple my-0">
                        {{_cart.priceDisplay()}}
                    </h5>
                    <h5 *ngIf="_cart.isPromo && _cart.isPromoAdjusted" class="text-purple my-0">
                        <span class="slanted-strike"><s>{{_cart.originalPriceDisplay()}}</s></span>
                        {{_cart.priceDisplay()}}
                    </h5>
                    <span class="text-purple my-0" *ngIf="_cart.isPromo" class="cus-discount">{{_cart.promo!.title}}</span> 
                </td>
                <td class="delete text-end">
                    <i class="fa fa-trash text-danger" (click)="onRemove()"></i>
                </td>
            </tr>
        </table>
    </div>
</div>