<div class="card mb-2" *ngIf="iCart && model">
    <div class="card-body">
        <table>
            <tr>
                <td class="mark">
                    <input class="form-check-input" type="checkbox" [checked]="iCart.mark" (change)="onChange($event)">
                </td>
                <td class="image">
                    <img [src]="primary" [alt]="model.name">
                </td>
                <td class="details px-3">
                    <span class="badge text-bg-secondary" *ngIf="iCart.type === 'card'">CARD</span>
                    <span class="badge text-bg-secondary" *ngIf="iCart.type === 'sticker'">STICKER</span>
                    <span class="badge text-bg-secondary" *ngIf="iCart.type === 'postcard'">POSTCARD</span>
                    <span class="badge text-bg-secondary" *ngIf="iCart.type === undefined">GIFT</span>

                    <h4 class="text-purple mt-2 mb-1">{{model.name}}</h4>
                    <p class="text-gray mb-0">{{model.description}}</p>
                    <p class="text-purple mb-0" *ngIf="bundleDetails !== ''">{{bundleDetails}}</p>
                </td>
                <td class="amount">
                    <h5 class="text-purple my-0">{{getAmount()}}</h5>
                </td>
                <td class="delete text-end">
                    <i class="fa fa-trash text-danger" (click)="onRemove()"></i>
                </td>
            </tr>
        </table>
    </div>
</div>