ion-header ion-toolbar {
    --border-width: 0;
    padding-top: 1rem;
    --background: white;
}

ion-header ion-toolbar ion-title {
    --color: #5e17eb;
    font-family: "Proxima Nova";
    font-size: 24px;
}

ion-header ion-toolbar ion-button {
    --color: 000;
}

ion-header ion-toolbar ion-button img {
    height: 28.05px;
    aspect-ratio: 1/1;
    padding: 0 !important;
}

.purple{
    color: #ab62c2
}
