<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" >
        <ion-icon slot="icon-only" color="medium" name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>    
    <ion-title>{{_title | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="_wishlist" (click)="goToWishlist()">
        <ion-icon slot="icon-only" name="heart-outline" color="danger" *ngIf="wishlistItems.length > 0"></ion-icon>
        <ion-icon slot="icon-only" name="heart" color="danger" *ngIf="wishlistItems.length === 0"></ion-icon>
      </ion-button>
      <ion-button  (click)="goToCart()">
        <ion-icon slot="icon-only" name="cart-outline" class="purple"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
