<div class="card">
    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847"
        class="card-img" alt="...">
    <div class="card-img-overlay">
        <a class="c-heart" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
    </div>
    <div class="card-body">
        <h4 class="card-title mt-0">Remarkable!</h4>
        <p class="card-text mb-2">
            Graduation Card features a yellowish background with a medal and a graduate icon and some confetti
        </p>
        <div class="row mb-2">
            <div class="col-md-6"><b class="txt-purple">P200.00</b></div>
            <div class="col-md-6 ion-text-right v3-rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
        </div>
        <button type="button" class="btn fibei-btn-o">
            <i class="fa fa-star" aria-hidden="true"></i>
            Personalize
        </button>
        <button type="button" class="btn fibei-btn">Add to Cart</button>
    </div>
</div>