<div class="card">
    <div class="img-div" (click)="onClick()">
        <img [src]="primary" alt="Default Image" class="card-img default-image" *ngIf="primary !== ''">
        <img [src]="secondary" alt="Hover Image" class="card-img hover-image" *ngIf="secondary !== ''">
    </div>
    <div class="c-heart">
        <app-new-wish-indicator [id]="_card.id"></app-new-wish-indicator>
        <div class="c-featured" *ngIf="_card.featured === true" title="Featured Card">
            <i class="fa fa-fire" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card-body px-2 py-3">
        <h4 class="card-title text-purple my-0" (click)="onClick()">{{_card.name}}</h4>
        <div class="space-around h-30 mb-2">
            <label class="text-purple"><b>{{_card.priceDisplay()}}</b></label>
            <app-new-rate size="sm" [rate]="rate"></app-new-rate>
        </div>
        <app-new-personalize-button class="me-1"></app-new-personalize-button>
        <app-new-add-cart-button type="card" [item]="card"></app-new-add-cart-button>
    </div>
</div>