.card {
    font-family: Proxima Nova;
}

.card .img-div{
    overflow: hidden;
}

.card.img-div img {
    transition: transform 0.4s ease
}

.card:hover {
    border: 1px solid #d952ca;
}

.card:hover img {
    transform: scale(1.03);
}

.c-heart {
    position: absolute;
    right: 1%;
    padding: 10px;
    background: #d3d3d3;
    top: 1%;
    border-radius: 50%;
    font-size: 16px;
    line-height: 16px;
    color: #5e17eb;
}

.c-heart:hover,
.c-heart:active {
    position: absolute;
    right: 1%;
    padding: 10px;
    background: #5e17eb;
    top: 1%;
    border-radius: 50%;
    font-size: 16px;
    line-height: 16px;
    color: white;
}

.card-title {
    color: #5e17eb;
    font-weight: bold;
}

.txt-purple {
    color: #5e17eb;
}

.fibei-btn {
    font-family: "Proxima Nova";
    border: 2px #5e17eb solid;
    color: #5e17eb;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
}

.fibei-btn:hover {
    font-family: "Proxima Nova";
    border: 2px #5e17eb solid;
    color: #fff;
    background: #5e17eb;

}

.fibei-btn-o {
    font-family: "Proxima Nova";
    border: 2px #5e17eb solid;
    color: #fff;
    background: #5e17eb;
    cursor: pointer;

    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 8px;
    display: inline-block;
}

.fibei-btn-o:hover {
    font-family: "Proxima Nova";
    border: 2px #5e17eb solid;
    color: #5e17eb;
    font-size: 1rem;

}

.v3-rating {
    color: #5e17eb;
}