<div class="card cursor" (click)="onClick()">
    <div class="img-div">
        <img [src]="primary" [alt]="_card.name" class="card-img default-image" *ngIf="primary !== ''" onContextMenu="return false;">
        <img [src]="secondary" [alt]="_card.name" class="card-img hover-image" *ngIf="secondary !== ''" onContextMenu="return false;">
    </div>
    <div class="c-heart">
        <app-new-wish-indicator [id]="_card.id"></app-new-wish-indicator>
        <div class="c-featured" *ngIf="_card.featured === true" title="Featured Card">
            <i class="fa fa-fire" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card-body px-2 py-3">
       
        <h4 class="card-title text-purple my-0">
            {{_card.name}}</h4>
        <div class="recipients mt-1 mb-2">
            <span *ngIf="_card.isDiscounted() === true" class="cus-discount">10% Off</span> <span *ngFor="let recipient of _card.getRecipients(4)" class="chip">{{recipient}}</span>
        </div>
        <h4 class="card-description text-gray my-1">{{_card.description}}</h4>
        <div class="space-around h-30">
            <div *ngIf="_card.isDiscounted() === false">
                <label class="text-purple"><b>{{_card.priceDisplay()}}</b></label>
                <label class="text-gray mx-1" *ngIf="_card.signAndSend">-</label>
                <label class="text-blue" *ngIf="_card.signAndSend"><b>{{_card.getPersonalizePriceDisplay()}}</b></label>
            </div>
            <div *ngIf="_card.isDiscounted() === true" style="flex-grow: 2; display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
                <h5 class="my-0 text-purple" [ngClass]="isFree === false ? 'card-title' : 'card-title-red'">{{_card.priceDisplay()}}</h5>
                <h5 class="my-0 ms-1 slanted-strike me-2" style="font-size: 10px;" [ngClass]="isFree === false ? 'card-title' : 'card-title-red'"><s>{{_card.originalPriceDisplay()}}</s></h5>
                <label class="text-gray mx-1" *ngIf="_card.signAndSend">-</label>
                <h5 class="my-0 text-blue" [ngClass]="isFree === false ? 'card-title' : 'card-title-red'">{{_card.getPersonalizePriceDisplay(true)}}</h5>
                <h5 class="my-0 ms-1 slanted-strike me-2" style="font-size: 10px;" [ngClass]="isFree === false ? 'card-title' : 'card-title-red'"><s>{{_card.getPersonalizePriceDisplay()}}</s></h5>
            </div>
            <app-new-rate size="sm" [rate]="rate"></app-new-rate>
        </div>
        <app-new-add-cart-button class="me-1" type="card" [item]="card"></app-new-add-cart-button>
        <app-new-personalize-button [iCard]="card" *ngIf="card.signAndSend"></app-new-personalize-button>
    </div>
</div>

