<div class="mxw-1920px mt-2">
    <app-new-title title="Gifts" [breadcrumbs]="breadcrumbs"></app-new-title>
</div>
<div class="py-3 bg-light">
    <div class="mxw-1920px">
        <app-new-events-options [events]="all"></app-new-events-options>
    </div>
</div>
<div class="mxw-1920px mt-4">
    <app-new-loading [loading]="loading"></app-new-loading>
    <div class="max-5" *ngIf="loading === false">
        <div *ngFor="let gift of display.slice(0, displayCount)">
            <app-new-gift-thumb [gift]="gift"></app-new-gift-thumb>
        </div>
    </div>
</div>