<div class="row mt-4">
    <div class="col-12 mb-3">
        <a [routerLink]="['/new/postcards']">
            View All Postcards
        </a>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <h5><a [routerLink]="['/new/postcards']">Birthday</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Anniversary</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Wedding</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Retirement</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Graduation</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Mothers day</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Fathers day</a></h5>
    </div>
    <div class="col-3">
        <h5><a [routerLink]="['/new/postcards']">Grandparents day</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Baby</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Baptism</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Confirmation</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Parents day</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Thanks giving</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Halloween</a></h5>
    </div>
    <div class="col-3">
        <h5><a [routerLink]="['/new/postcards']">Christmas</a></h5>
        <h5><a [routerLink]="['/new/postcards']">New year</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Valentines</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Confirmation</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Easter</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Sympathey</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Pet</a></h5>
    </div>
    <div class="col-3">
        <h5><a [routerLink]="['/new/postcards']">Frienship</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Congratulations</a></h5>
        <h5><a [routerLink]="['/new/postcards']">Get well</a></h5>
    </div>
</div>