<div class="modal-body">
    <div class="logo">
        <i class="fa fa-question text-danger"></i>
    </div>
    <div class="text-center">
        <h1 class="mb-0 text-dark">{{title}}</h1>
        <h6 class="text-dark">{{message}}</h6>
    </div>
    <div class="text-center mt-5 mb-3">
        <button class="button no mx-1 btn-prof-no" (click)="action(false)"> <i class="fa fa-ban"></i>
            {{no}}
        </button>
        <button class="button ok mx-1 btn-prof" (click)="action(true)"> <i class="fa fa-check"></i>
            {{yes}} 
        </button>
    </div>
</div>