<button type="button" class="btn addtocart" (mouseenter)="mouserEnter()" (mouseleave)="mouseLeave()" (click)="openCanvas()">
    <i class="fa fa-cart-plus" aria-hidden="true" *ngIf="isHover === false"></i>
    <i class="fa fa-cart-arrow-down" aria-hidden="true" *ngIf="isHover === true"></i>
    Add to Cart
</button>

<ng-template #content>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title txt-purple ion-text-bold"><b><i aria-hidden="true" class="fa fa-shopping-cart"></i> Cart</b></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeCanvas()"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card-in-cart card mb-3">
                    <div class="card-body">
                        <table class="t-card">
                            <tr>
                                <td class="t-image">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F09aK9ByUDBOU8pQtC8p4%2Fiu1Jd2bztkXQhnQgkHcJ?alt=media&token=6aa50db0-0734-401d-8902-cd5098b2e658"
                                        class="img-fluid" title="view card - A Merry Christmas To Your Family!">
                                </td>
                                <td class="t-description">
                                    <b class="txt-purple">A Merry Christmas To Your Family!</b>
                                    <p>May the coming years be blessed with enduring happiness.</p>
                                </td>
                                <td class="t-action">
                                    <i aria-hidden="true" class="fa fa-trash text-secondary"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-in-cart card mb-3">
                    <div class="card-body">
                        <table class="t-card">
                            <tr>
                                <td class="t-image">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F09aK9ByUDBOU8pQtC8p4%2Fiu1Jd2bztkXQhnQgkHcJ?alt=media&token=6aa50db0-0734-401d-8902-cd5098b2e658"
                                        class="img-fluid" title="view card - A Merry Christmas To Your Family!">
                                </td>
                                <td class="t-description">
                                    <b class="txt-purple">A Merry Christmas To Your Family!</b>
                                    <p>May the coming years be blessed with enduring happiness.</p>
                                </td>
                                <td class="t-action">
                                    <i aria-hidden="true" class="fa fa-trash text-secondary"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <div class="ion-text-right">
                <h3><b>Cart Total: ₱118.00</b></h3>
            </div>
            <br />
            <div>
                <button class="fibei-go-to-cart">View Cart</button>
            </div>
        </div>
    </div>
</ng-template>