<div class="mxw-1920px mt-2">
    <app-new-title title="Wishlist" [breadcrumbs]="breadcrumbs"></app-new-title>
</div>

<app-new-loading [loading]="loading"></app-new-loading>

<div class="mxw-1920px no-item" *ngIf="wishlist && wishlist.length === 0 && loading === false">
    <h3 class="text-purple my-0">No item on the wishlist.</h3>
    <h6 class="text-gray my-0">Explore our Products</h6>
    <div class="col-md-8 offset-md-2">
        <div class="row mt-4">
            <div class="col-md-3">
             <img src="/assets/images/new/s-cards.png" class="img-fluid" [routerLink]="['/new/cards/all']"><br/><br/>
                <button type="button" class="product" [routerLink]="['/new/cards/all']">
                    CARDS
                </button>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/new/s-stickers.png" class="img-fluid" [routerLink]="['/new/stickers/all']"><br/><br/>
                <button type="button" class="product" [routerLink]="['/new/stickers/all']">
                    STICKERS
                </button>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/new/s-postcards.png" class="img-fluid" [routerLink]="['/new/postcards/all']"><br/><br/>
                <button type="button" class="product" [routerLink]="['/new/postcards/all']">
                    POSTCARDS
                </button>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/new/s-gifts.png" class="img-fluid" [routerLink]="['/new/gifts/all']"><br/><br/>
                <button type="button" class="product" [routerLink]="['/new/gifts']">
                    GIFTS
                </button>
            </div>
        </div>
    </div>
</div>

<div class="mxw-1920px row" *ngIf="wishlist && wishlist.length > 0 && loading === false">
    <div class="max-5 mb-2" *ngIf="getList('card').length > 0 && loading === false">
        <div *ngFor="let card of getList('card')">
            <app-new-card-thumb [card]="getICard(card.model)"></app-new-card-thumb>
        </div>
    </div>
    <div class="max-5 mb-2" *ngIf="getList('sticker').length > 0 && loading === false">
        <div *ngFor="let card of getList('sticker')">
            <app-new-sticker-thumb [sticker]="getISticker(card.model)"></app-new-sticker-thumb>
        </div>
    </div>
    <div class="max-5 mb-2" *ngIf="getList('postcard').length > 0 && loading === false">
        <div *ngFor="let card of getList('postcard')">
            <app-new-postcard-thumb [postcard]="getIPostcard(card.model)"></app-new-postcard-thumb>
        </div>
    </div>
    <div class="max-5 mb-2" *ngIf="getList('gift').length > 0 && loading === false">
        <div *ngFor="let card of getList('gift')">
            <app-new-gift-thumb [gift]="getGift(card.model)"></app-new-gift-thumb>
        </div>
    </div>
</div>