<div class="mxw-1920px mt-2">
    <app-new-title title="Wishlist" [breadcrumbs]="breadcrumbs"></app-new-title>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="card mb-2 is-cart-selected">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847">
                    </div>
                    <div class="col-md-6">
                        <h3>Remarkable!</h3>
                        <p> Graduation Card features a yellowish background with a medal and a graduate icon and some
                            confetti </p>
                    </div>
                    <div class="col-md-2">
                        <div>
                            $99.00
                        </div>
                        <button type="button" class="btn fibei-btn">Add to Cart</button>
                    </div>
                    <div class="col-md-2 ion-text-right">
                        <i class="fa fa-trash text-secondary"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847">
                    </div>
                    <div class="col-md-6">
                        <h3>Remarkable sample2!</h3>
                        <p> Graduation Card features a yellowish background with a medal and a graduate icon and some
                            confetti </p>
                    </div>
                    <div class="col-md-2">
                        <div>
                            $99.00
                        </div>
                        <button type="button" class="btn fibei-btn">Add to Cart</button>
                    </div>
                    <div class="col-md-2 ion-text-right">
                        <i class="fa fa-trash text-secondary"></i>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
    <div class="col-md-12">
        <h3> You may also Like</h3>
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div class="img-div">
                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847"
                        class="card-img" alt="...">
                    </div>
                    <div class="card-img-overlay">
                        <a class="c-heart" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mt-0">Remarkable!</h4>
                        <div><b class="txt-purple">P200.00</b></div>
                        <button type="button" class="btn fibei-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="img-div">
                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847"
                        class="card-img" alt="...">
                    </div>
                    <div class="card-img-overlay">
                        <a class="c-heart" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mt-0">Remarkable!</h4>
                        <div><b class="txt-purple">P200.00</b></div>
                        <button type="button" class="btn fibei-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="img-div">
                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847"
                        class="card-img" alt="...">
                    </div>
                    <div class="card-img-overlay">
                        <a class="c-heart" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mt-0">Remarkable!</h4>
                        <div><b class="txt-purple">P200.00</b></div>
                        <button type="button" class="btn fibei-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="img-div">
                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847"
                        class="card-img" alt="...">
                    </div>
                    <div class="card-img-overlay">
                        <a class="c-heart" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mt-0">Remarkable!</h4>
                        <div><b class="txt-purple">P200.00</b></div>
                        <button type="button" class="btn fibei-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="img-div">
                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847"
                        class="card-img" alt="...">
                    </div>
                    <div class="card-img-overlay">
                        <a class="c-heart" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mt-0">Remarkable!</h4>
                        <div><b class="txt-purple">P200.00</b></div>
                        <button type="button" class="btn fibei-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="img-div">
                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847"
                        class="card-img" alt="...">
                    </div>
                    <div class="card-img-overlay">
                        <a class="c-heart" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mt-0">Remarkable!</h4>
                        <div><b class="txt-purple">P200.00</b></div>
                        <button type="button" class="btn fibei-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>