<ion-content>
    <h2 style="font-size:0px;margin: 0;">Events and Occasions Cards</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="header-div">
                <ion-label class="label-header">EVENT AND OCCASIONS CARDS</ion-label>
            </div>
            <div class="subheader-div">
                <ion-label class="label-subheader">Explore our range of heartfelt messages and beautifully designed
                    cards to find the perfect expression of your sentiments for any event and occasion.</ion-label>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/easter/event/feature-category.png">
                    <div style="    height: 42%;
                    width: 37%;
                    position: absolute;
                    bottom: 23%;
                    cursor: pointer;
                    left: 4%;" [routerLink]="['/cards/event/wiqT7aRUk5ndo0zsxpsy']"></div>
                    <div style="height: 42%;
                    width: 36%;
                    position: absolute;
                    bottom: 23%;
                    cursor: pointer;
                    right: 4%;
                    " [routerLink]="['/signandsendcards/t2lf6uwXUHih22nJDwrY']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <img src="/assets/images/2024/hbd/banner/event-s2-min.png">
                    <br /> <br /> -->
                    <h2 class="label-header">More Card Categories</h2>
                    <!-- <h2 class="text-center cus-text-title mt-1 mb-3">Events</h2> -->
                    <app-event-list [events]="events"></app-event-list>
                    <!-- <img src="/assets/images/2024/hbd/banner/event-s3-min.png">
                    <br /> <br /> -->
                    <!-- <h2 class="text-center cus-text-title mt-1 mb-3">Occasions</h2> -->
                    <app-event-list [events]="occassions"></app-event-list>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="f-title">More from FiBeiGreetings</h2>
                    <br />
                </div>

                <div class="col-md-10 offset-md-1">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/stickercards']">STICKERS</div>
                        </div>
                        <div class="col-md-6" *ngIf="priceService.getLocation() != 'ph'">
                            <div class="f-links" [routerLink]="['/gifts']">GIFTS</div>
                        </div>
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/postcards']">POSTCARDS</div>
                        </div>
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/games']">GAMES</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/easter/page/free.png">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/more-min.png">
                    <br /><br />
                </div>
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/hbd/more-2-min.png">
                    <div style="height: 67%;width: 21%; position: absolute; left: 23%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 45.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 68.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/signandsend']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/delivery-ph-min.png" *ngIf="priceService.getLocation() == 'ph'"
                        class="img-fluid " style="width:100%">
                    <img src="/assets/images/2024/hbd/delivery-min.png" *ngIf="priceService.getLocation() != 'ph'"
                        class="img-fluid " style="width:100%">
                    <br /> <br />
                </div>
            </div> -->
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>