<ion-header *ngIf="_showHeader === true" class="bg-white" style="position:fixed;top:0;">
    <div class="v3" *ngIf="type===0">
        <div class="mxw-1920px">
            <div class="row my-2">
                <div class="col-2 ps-0" size="auto">
                    <img [src]="logo" title="FibeiGreetings.com" routerlink="/" oncontextmenu="return false;" class="img-title img-fluid"
                        style="cursor: pointer;" tabindex="0" [routerLink]="['/new']">
                </div>
                <div class="col-8 ps-0 my-auto" size="auto">
                    <ul class="nav justify-content-center my-menu-links">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/new']">Home</a>
                        </li>
                        <li class="nav-item" *ngFor="let event of eventpriorities">
                            <a class="nav-link" [routerLink]="[event.url]">{{event.title}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/new/cards/all']">Browse all cards </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (mouseenter)="onHover('stickers')" (mouseleave)="onHoverOut()">Stickers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (mouseenter)="onHover('postcards')" (mouseleave)="onHoverOut()">Postcards</a>
                        </li>
                        <li class="nav-item" *ngIf="location === 'ph'">
                            <a class="nav-link" (mouseenter)="onHover('gifts')" (mouseleave)="onHoverOut()">Gifts </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2" size="auto">
                    <ul class="nav justify-content-end">
                        <li class="nav-item action">
                            <a class="nav-link active" aria-current="page" [routerLink]="['/new/projects']">
                                <i class="fa fa-2x fa-star text-purple gelatine" aria-hidden="true" title="Personalize"></i>
                                <span class="personalize-count">1</span>
                            </a>
                        </li>
                        <li class="nav-item action">
                            <a class="nav-link active" aria-current="page" [routerLink]="['/new/cart']">
                                <i class="fa fa-2x fa-shopping-cart text-purple" aria-hidden="true" title="Cart"></i>
                                <span class="cart-count">2</span>
                            </a>
                        </li>
                        <li class="nav-item action">
                            <a class="nav-link" [routerLink]="['/new/wishlist']">
                                <i class="fa fa-2x fa-heart text-purple" aria-hidden="true" title="Wishlist"></i>
                                <span class="wishlist-count">3</span>
                            </a>
                        </li>
                        <li class="nav-item action">
                            <a class="nav-link" [routerLink]="['/new/profile/info']" title="Profile">
                                <i class="fa fa-2x fa-user-circle text-purple" aria-hidden="true"
                                    *ngIf="_user === undefined || (_user !== undefined && (_user.photoURL === '' || _user.photoURL === null))"></i>
                                <img class="profile" [src]="_user.photoURL"
                                    *ngIf="_user !== undefined && _user.photoURL !== '' && _user.photoURL !== null">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu border-top" *ngIf="showMenu" (mouseenter)="onHover(undefined)" (mouseleave)="onHoverOut()">
            <div class="mxw-1320px row">
                <app-new-layout-stickers *ngIf="menuType === 'stickers'" (open)="onOpen($event)"></app-new-layout-stickers>
                <app-new-layout-postcards *ngIf="menuType === 'postcards'" (open)="onOpen($event)"></app-new-layout-postcards>
                <app-new-layout-gifts *ngIf="menuType === 'gifts'" (open)="onOpen($event)"></app-new-layout-gifts>
            </div>
        </div>
    </div>
</ion-header>
<div class="v3" *ngIf="type===1">
    <div class="header-border">
        <div class="mxw-1920px">
            <div class="row mt-2">
                <div class="col-6" size="auto">
                    <img [src]="logo" title="FibeiGreetings.com" routerlink="/" oncontextmenu="return false;" class="img-title img-fluid"
                        style="cursor: pointer;" tabindex="0" [routerLink]="['/new']">
                </div>
                <div class="col-6 pe-0" size="auto">
                    <ul class="nav justify-content-end">
                        <li class="nav-item action">
                            <a class="nav-link active" aria-current="page"  [routerLink]="['/new/projects']">
                                <i class="fa fa-2x fa-star text-purple gelatine" aria-hidden="true" title="Personalize"></i>
                                <span class="personalize-count">1</span>
                            </a>
                        </li>
                        <li class="nav-item action">
                            <a class="nav-link active" aria-current="page" [routerLink]="['/new/cart']">
                                <i class="fa fa-2x fa-shopping-cart text-purple" aria-hidden="true" title="Cart"></i>
                                <span class="cart-count">2</span>
                            </a>
                        </li>
                        <li class="nav-item action">
                            <a class="nav-link" [routerLink]="['/new/wishlist']">
                                <i class="fa fa-2x fa-heart text-purple" aria-hidden="true" title="Wishlist"></i>
                                <span class="wishlist-count">3</span>
                            </a>
                        </li>
                        <li class="nav-item action">
                            <a class="nav-link" [routerLink]="['/new/profile/info']" title="Profile">
                                <i class="fa fa-2x fa-user-circle text-purple" aria-hidden="true"
                                    *ngIf="_user === undefined || (_user !== undefined && (_user.photoURL === '' || _user.photoURL === null))"></i>
                                <img class="profile" [src]="_user.photoURL"
                                    *ngIf="_user !== undefined && _user.photoURL !== '' && _user.photoURL !== null">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 my-auto" size="auto">
                    <ul class="nav justify-content-center my-menu-links">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/new']">Home</a>
                        </li>
                        <li class="nav-item" *ngFor="let event of eventpriorities">
                            <a class="nav-link" [routerLink]="[event.url]">{{event.title}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/new/cards/all']">Browse all cards </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (mouseenter)="onHover('stickers')" (mouseleave)="onHoverOut()">Stickers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (mouseenter)="onHover('postcards')" (mouseleave)="onHoverOut()">Postcards</a>
                        </li>
                        <li class="nav-item" *ngIf="location === 'ph'">
                            <a class="nav-link" (mouseenter)="onHover('gifts')" (mouseleave)="onHoverOut()">Gifts </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu" *ngIf="showMenu" (mouseenter)="onHover(undefined)" (mouseleave)="onHoverOut()">
        <div class="mxw-1320px row">
            <app-new-layout-stickers *ngIf="menuType === 'stickers'" (open)="onOpen($event)"></app-new-layout-stickers>
            <app-new-layout-postcards *ngIf="menuType === 'postcards'" (open)="onOpen($event)"></app-new-layout-postcards>
            <app-new-layout-gifts *ngIf="menuType === 'gifts'" (open)="onOpen($event)"></app-new-layout-gifts>
        </div>
    </div>
</div>