.nav-item {
    font-family: Proxima Nova;
}

.img-title {
    height: 60px;
}

.v3 {
    position: relative;
}

.v3 .icon-menu>i {
    padding: 0 8px;
}

.v3 .icon-menu>i:last-child {
    padding-right: 0 !important
}

.header-top {
    border-top: 2px solid #cb6ce6;
}

.header-border {
    border-bottom: 2px solid #cb6ce6;
}

.label-header {
    font-family: Proxima Nova;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: #5e17eb;
    margin: 0;
}

.label-header.lh-h2 {
    font-size: 2.5rem;
}

.label-header.lh-h3 {
    font-size: 2.0rem;
}

.label-header.footer-h3 {
    font-size: 1.5rem;
}

.menu {
    height: 375px;
    width: 100%;
    position: absolute;
    z-index: 50;
    background: white;
    font-family: Proxima Nova;
    border-bottom: 0.25px solid #a3a3a3;
}

.nav-link {
    cursor: pointer;
}

.profile {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.my-menu-links a {
    color: #5e17eb;
    font-size: 18px;

}

.my-menu-links a:hover {
    background: #5e17eb20;
}

.fa-star.gelatine {
    text-shadow: 0px 3px #7b00cf;
    margin-top: -4px;
}

.gelatine {
    animation: gelatine 0.5s infinite;
}

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}


.bounce-in {
    animation: bounce-in 2s ease infinite;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.personalize-count,
.cart-count,
.wishlist-count {
    background: #de22c1;
    color: white;
    height: 25px;
    display: inline-block;
    width: 25px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    margin-left: -10px;
    margin-top: 10px;
    border: 2px solid white;
    position: absolute;
}

.action-flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 8px;
}

.action-flag div {
    background: #de22c1;
    height: 32px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 0.1px solid #de22c1;
}

.action-flag div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

.account-div {
    display: flex;
    flex-direction: column;
    padding-block: 4px;
    padding-inline: 6px;
    border-radius: 4px;
}

.account-div .hello {
    color: #5e17eb !important;
    font-size: 0.8rem !important;
    line-height: 0.8rem !important;
}

.account-div .nav-link {
    color: #ab37c9 !important;
    font-size: 1.1rem !important;
    line-height: 1.1rem !important;
}

.account-div:hover {
    background: #ab37c9;
}

.account-div:hover .hello,
.account-div:hover .nav-link {
    color: white !important;
}

.header-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.float {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.float ul{
    flex-wrap: nowrap;
}