<div class="modal-body main">
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    <div class="text-center title">
        <h3 class="text-purple">Change Password</h3>
    </div>
    <div class="text-center px-5 mb-5">
        <form [formGroup]="form" (submit)="submit()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" formControlName="email" [disabled]="processing"
                    [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors}">
                <label for="email">Email Address</label>
            </div>
            <div class="text-start" *ngIf="error !== ''">
                <span class="text-danger">{{error}}</span>
            </div>
            <button type="submit" class="login-btn mt-3" [disabled]="processing">
                <span class="spinner-border spinner-border-sm me-1" aria-hidden="true" *ngIf="processing"></span>
                {{processing ? 'SENDING ...' : 'SEND PASSWORD LINK'}}
            </button>
        </form>
    </div>
</div>