
<ion-content [fullscreen]="true">
    
    <app-loading-mobile [loading]="loading"></app-loading-mobile>

    <app-title-mobile *ngIf="!loading" title="Wishlist" [wishlist]="false" [cart]="true"></app-title-mobile>

    <ion-grid>
        <ion-list>
            <ion-item-sliding *ngFor="let item of wishlist" #slideoptions>
                <ion-item [button]="true" lines="none">
                    <app-wishlist-tile-mobile [wishlist]="item" 
                        (onRemoveItem)="onRemove($event)">
                    </app-wishlist-tile-mobile>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
    </ion-grid>
</ion-content>