<div class="modal-body main">
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    <div class="text-center title">
        <h3>Change Password</h3>
    </div>
    <div class="text-center px-5 mb-5">
        <form [formGroup]="form" (submit)="submit()">
            <div class="form-floating password mb-3">
                <input [type]="showPassword.current? 'text' : 'password'" class="form-control" id="currentpassword" placeholder="Password" formControlName="currentpassword"
                    [disabled]="processing" [ngClass]="{ 'is-invalid': submitted && form.controls.currentpassword.errors}">
                <label for="password">Current Password</label>
                <div class="eye">
                    <i class="fa fab fa-eye" *ngIf="showPassword.current === false" (click)="onChangeShowPassword('current')"></i>
                    <i class="fa fab fa-eye-slash" *ngIf="showPassword.current === true" (click)="onChangeShowPassword('current')"></i>
                </div>
            </div>
            <div class="form-floating password mb-3">
                <input [type]="showPassword.new? 'text' : 'password'" class="form-control" id="newpassword" placeholder="Password" formControlName="newpassword"
                    [disabled]="processing" [ngClass]="{ 'is-invalid': submitted && form.controls.newpassword.errors}">
                <label for="password">New Password</label>
                <div class="eye">
                    <i class="fa fab fa-eye" *ngIf="showPassword.new === false" (click)="onChangeShowPassword('new')"></i>
                    <i class="fa fab fa-eye-slash" *ngIf="showPassword.new === true" (click)="onChangeShowPassword('new')"></i>
                </div>
            </div>
            <div class="form-floating password mb-3">
                <input [type]="showPassword.confirm? 'text' : 'password'" class="form-control" id="confirmpassword" placeholder="Password" formControlName="confirmpassword"
                    [disabled]="processing" [ngClass]="{ 'is-invalid': submitted && form.controls.confirmpassword.errors}">
                <label for="password">Confirm Password</label>
                <div class="eye">
                    <i class="fa fab fa-eye" *ngIf="showPassword.confirm === false" (click)="onChangeShowPassword('confirm')"></i>
                    <i class="fa fab fa-eye-slash" *ngIf="showPassword.confirm === true" (click)="onChangeShowPassword('confirm')"></i>
                </div>
            </div>

            <button type="submit" class="login-btn" [disabled]="processing">
                <span class="spinner-border spinner-border-sm me-1" aria-hidden="true" *ngIf="processing"></span>
                {{processing ? 'Processing ...' : 'Change Password'}}
            </button>
        </form>
    </div>
    <div class="link text-center py-3">
        <label><a href="/new/registration">forgot password?</a></label>
    </div>
</div>