<div class="mxw-1920px mt-2 div-title">
    <app-new-title title="Postcards" [breadcrumbs]="breadcrumbs"></app-new-title>
</div>
<div class="py-3 bg-light">
    <div class="mxw-1920px">
        <app-new-events-options [events]="activeevents" [selected]="events.length > 0 ? events[0] : ''" (onClick)="onClickEvent($event)"></app-new-events-options>
    </div>
</div>
<div class="mxw-1920px row mt-4">

    <app-new-loading [loading]="loading"></app-new-loading>

    <div class="max-5" *ngIf="loading === false">
        <div *ngFor="let postcard of display.slice(0, displayCount)">
            <app-new-postcard-thumb [postcard]="postcard"></app-new-postcard-thumb>
        </div>
    </div>

    <div class="load py-3" *ngIf="display.length > displayCount && loading === false">
        <label class="mb-3">{{displayCount.toLocaleString()}} of {{display.length.toLocaleString()}}</label>
        <button type="button" class="btn loadmore" (click)="loadmore()">SHOW MORE</button>
    </div>
</div>