<div class="mxw-1920px mt-2">
    <app-new-title title="Postcards" [breadcrumbs]="breadcrumbs"></app-new-title>

</div>
<div class="py-3 bg-light">
    <div class="mxw-1920px">
        <div class="row">
            <div class="col-md-12">
                <h3 class="label-header lh-h3">What are you shopping for?</h3>
                <span class="fibei-badge">Birthday</span>
                <span class="fibei-badge">Anniversary</span>
                <span class="fibei-badge">Wedding</span>
                <span class="fibei-badge">Retirement</span>
                <span class="fibei-badge">Graduation</span>
                <span class="fibei-badge">Mothers Day</span>
                <span class="fibei-badge">Fathers Day</span>
            </div>

            <div class="col-md-12">
                <span class="fibei-badge-v2">Birthday</span>
                <span class="fibei-badge-v2">Anniversary</span>
                <span class="fibei-badge-v2">Wedding</span>
                <span class="fibei-badge-v2">Retirement</span>
                <span class="fibei-badge-v2">Graduation</span>
                <span class="fibei-badge-v2">Mothers Day</span>
                <span class="fibei-badge-v2">Fathers Day</span>
            </div>
        </div>
    </div>
</div>
<div class="mxw-1920px row mt-4">
    <ion-col size="3">
        <div class="card">
            <div class="img-div">
                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/card%2F4nAQZomPLor9ezS5qqb3%2FPkK3guvJL0YQzacNmiZW?alt=media&token=95aa9b88-3de8-42d0-a2fa-8e2ed2e82847"
                class="card-img" alt="...">
            </div>
            <div class="card-img-overlay">
                <a class="c-heart" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="card-body">
                <h4 class="card-title mt-0">Remarkable!</h4>
                <p class="card-text mb-2">
                    100 pcs of Postcards - <b class="txt-purple">₱ 1,500.00</b><br/>
                    100 pcs of Postcards - <b class="txt-purple">₱ 1,500.00</b><br/>
                    100 pcs of Postcards - <b class="txt-purple">₱ 1,500.00</b><br/>
                    100 pcs of Postcards - <b class="txt-purple">₱ 1,500.00</b>
                </p>
                <div class="row mb-2">
                    <div class="col-md-7">
                        <div class="btn badge-featured">
                           Featured <span class="badge"> <i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-md-5 ion-text-right v3-rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            
                <app-new-add-cart-button></app-new-add-cart-button>
            </div>
        </div>
    </ion-col>
</div>