<div class="mxw-1320px">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <br/> <br/>
            <h1 class="text-purple">Contact us</h1>
            <br/>
        <div class="card">
            <div class="card-body">
                <img src="/assets/images/new/static/contact-us-banner.png">
                <div class="content">
                    <h1>CONTACT FIBEIGREETINGS</h1>
                    <h3>Call Us</h3>
                    <h6 class="my-0">Globe +63 956 317 4831</h6>
                    <h6 class="my-0">Smart +63 969 315 6802</h6>
                    <h3>Customer Service Support Hours:</h3>
                    <h6 class="my-0">Monday-Friday: 9am-6pm</h6>
                    <h6 class="my-0">Saturday-Sunday: 10am-6pm</h6>
                    <h6>Holiday hours may vary.</h6>
                    <h3>Email Us</h3>
                    <h6 class="my-0">FiBeiGreetings PH</h6>
                    <a href="mailto:fibeigreetingsph@gmail.com" class="mb-5">{{'fibeigreetingsph@gmail.com'}}</a>
                    <h6 class="my-0">For faster response:</h6>
                    <h6 class="mt-0 mb-5">Please contact or chat with an advocate if your query is about an order.</h6>
                    <a class="btn my-btn-primary btn-lg">
                        <img src="/assets/images/messenger.png">
                        FOR LIVE CHAT, CLICK MESSENGER BUTTON AT THE BOTTOM RIGHT OF THE SCREEN
                    </a>
                </div>
                </div>
            </div>
        </div>
       
    </div>
</div>