* {
    font-family: Proxima Nova;
}
.txt-purple {
    font-family: "Proxima Nova";
    font-weight: bold;
    color: #5e17eb;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-btn-primary {
    color: #fff;
    background-color: #7030a0;
    border-color: #7030a0;
    font-size: 26px;
}

.my-btn-primary img{
    height: 60px;
}