.text-area {
    border: 1px solid #ccc;
    margin: 0 !important;
    margin-bottom: 10px !important;
}
.f-adjust
{
    font-size: 30px;
    position: relative;
    top: 9px;
}
.f-size-value
{
    width: 60px;
}
.i-style
{
    padding: 6px;
    border: 1px solid #ccc;
}