<link
  href="https://fonts.googleapis.com/css?family=Montserrat"
  rel="stylesheet"
/>

<ion-content>
  <h2 style="font-size: 0px; margin: 0">Sign & Sign Page</h2>
  <section class="section-name padding-y-sm bk-hw">
    <div class="container mothersday-component">
      <div class="row">
        <div class="col-md-12">
          <img
            src="/assets/images/2024/hbd/banner/sns-p-min.png"
            class="img-fluid"
            onContextMenu="return false;"
          />

          <img
            src="/assets/images/signandsend/page/v2/icons.png"
            class="img-fluid"
            onContextMenu="return false;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img
            src="/assets/images/signandsend/page/v2/Sign Send Process.gif"
            style="width: 100%"
            onContextMenu="return false;"
          />
          <div class="text-center">
            <img
              src="/assets/images/2023/hw/banner/snsp-02-min.png"
              onContextMenu="return false;"
            />
          </div>
          <img
            src="/assets/images/signandsend/page/v2/2.png"
            style="width: 100%"
            onContextMenu="return false;"
          />
          <img
            src="/assets/images/signandsend/page/v2/3.png"
            style="width: 100%"
            onContextMenu="return false;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12"></div>
      </div>
      <div routerLink="/signandsend" class="to-link">
        <img
          src="/assets/images/signandsend/page/SandS-banner2.png"
          class="img-fluid"
          onContextMenu="return false;"
        />
      </div>
      <div class="row">
        <div class="col-md-12">
          <img
            src="/assets/images/2024/hbd/more-min.png"
            onContextMenu="return false;"
          />
        </div>
        <div class="col-md-12" style="position: relative">
          <img
            src="/assets/images/2024/hbd/more-2-min.png"
            onContextMenu="return false;"
          />
          <div [routerLink]="['/poetry']"></div>
          <div [routerLink]="['/postcards']"></div>
          <div [routerLink]="['/signandsend']"></div>
        </div>
      </div>

      <div class="row e-card-sticker">
        <div>
          <img
            src="/assets/images/2024/hbd/ecard-sticker-2-min-1.png"
            onContextMenu="return false;"
          />
        </div>
        <div>
          <img
            src="/assets/images/2024/hbd/ecard-sticker-2-min-2.png"
            onContextMenu="return false;"
          />
        </div>

        <p>PURCHASE FIBEI GREETING CARDS IN A VARIETY OF WAYS</p>

        <div class="col-md-12">
          <img
            src="/assets/images/2024/hbd/delivery-min-1.png"
            class="img-fluid"
            style="width: 100%"
            onContextMenu="return false;"
          />
        </div>
        <div class="col-md-12">
          <img
            src="/assets/images/2024/hbd/delivery-min-2.png"
            class="img-fluid"
            style="width: 100%"
            onContextMenu="return false;"
          />
        </div>
        <div class="col-md-12">
          <img
            src="/assets/images/2024/hbd/delivery-min-3.png"
            class="img-fluid"
            style="width: 100%"
            onContextMenu="return false;"
          />
        </div>
      </div>
    </div>
    <style>
      .mothersday-component > * {
        /*font-family: 'Montserrat';*/
        font-size: 22px;
      }

      h2 {
        text-align: center;
        font-weight: bolder;
        color: #6b2d98;
        font-size: 30px;
      }

      .to-link {
        opacity: 0.9;
        cursor: pointer;
      }

      .to-link:hover,
      .to-link:active {
        opacity: 1;
      }
    </style>
  </section>
</ion-content>
