.c-heart {
    color: #ab37c9;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: white;
    padding-inline: 3.5px 3px;
    padding-top: 5px;
    border-radius: 50%;
    opacity: 0.8;
}

.c-heart i{
    opacity: 1;
}
