.label-header {
    font-family: 'Proxima Nova';
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: #5e17eb;
    margin: 0;
}

.breadcrumb{
    font-family: 'Proxima Nova';
}