<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="header-div">
                <ion-label class="label-header">STICKERS</ion-label>
            </div>
            <div class="subheader-div">
                <ion-label class="label-subheader">Add a touch of joy with Fibei Greetings Stickers!</ion-label>
            </div>
            <div class="featured-div" (click)="setEvent('clDjnznNkLmBUgjyCNlP')">
                <img src="/assets/images/2024/bday/sticker.png" onContextMenu="return false;">
                <div class="featured"></div>
            </div>

            <div class="category-div">
                <ion-grid>
                    <ion-row>
                        <ion-col size="8">
                            <ion-label class="main-label">More Categories</ion-label>
                        </ion-col>
                        <ion-col size="4" class="ion-text-end">
                            <button class="showallbutton" (click)="setEvent('all')">Show All Stickers</button>
                        </ion-col>
                        <ion-col size="12">
                            <ion-label class="sub-label">Choose your sticker.</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="category-items">
                    <button *ngFor="let event of occassions" (click)="setEvent(event.id!)">
                        {{event.title && event.title !== '' ? event.title : event.name}}
                    </button>
                </div>
                <div class="other-items">
                    <button *ngFor="let event of others" (click)="setEvent(event.id!)">
                        {{event.title && event.title !== '' ? event.title : event.name}}
                    </button>
                </div>
            </div>

            <div *ngIf="original.length > 0" id="items">
                <div class="ion-margin-bottom">
                    <ion-label class="category-label">{{title}}</ion-label>
                </div>
                <app-card-list [cards]="cards" mode="sticker"></app-card-list>
            </div>

            <div class="instruction-div">
                <ion-label class="label-header">Peel, Stick, Smile: Free Stickers with Every Card!</ion-label>
                <ion-label class="label-sub">Get 5 free stickers with any greetings
                    card purchase! Choose your card now and enjoy the bonus stickers.</ion-label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/images/2024/easter/sticker/event.png" [routerLink]="['/events']" class="cursor" onContextMenu="return false;">
                </div>
                <div class="col-md-3">
                    <img src="/assets/images/2024/easter/sticker/specialty.png" [routerLink]="['/specialtycardpage']" class="cursor"
                        onContextMenu="return false;">
                </div>
                <div class="col-md-3">
                    <img src="/assets/images/2024/easter/sticker/poetry.png" [routerLink]="['/poetry']" class="cursor" onContextMenu="return false;">
                </div>
                <div class="col-md-3">
                    <img src="/assets/images/2024/easter/sticker/ss.png" [routerLink]="['/signandsend']" class="cursor" onContextMenu="return false;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="f-title">More from FiBeiGreetings</h2>
                    <br />
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/stickercards']">STICKERS</div>
                        </div>
                        <div class="col-md-6" *ngIf="priceService.getLocation() === 'ph'">
                            <div class="f-links" [routerLink]="['/gifts']">GIFTS</div>
                        </div>
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/postcards']">POSTCARDS</div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/games']">GAMES</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>