<div class="card bg-light border-light mb-2" *ngIf="item && model">
    <div class="card-body py-2">
        <table>
            <tr>
                <td class="image">
                    <img [src]="primary" [alt]="model.name" onContextMenu="return false;">
                </td>
                <td class="details px-3">
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'card'">CARD</span>
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'card' && iItem.personalize !== undefined">PERSONALIZE</span>
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'sticker'">STICKER</span>
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'postcard'">POSTCARD</span>
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'gift'">GIFT</span>

                    <p class="text-purple my-0 cursor" [routerLink]="['/new/details/' + iItem.type + '/' + iItem.itemId]">{{model.name}}</p>
                    <p class="text-gray mb-0">{{model.description}}</p>
                    <p class="text-purple mb-0" *ngIf="bundleDetails !== ''">{{bundleDetails}}</p>
                </td>
                <td class="amount text-end">
                    <div class="totals">
                        <span class="text-gray">PRICE</span>
                        <span>{{item.priceDisplay()}}</span>
                    </div>
                    <div class="totals">
                        <span class="text-gray">SHIPPING FEE</span>
                        <span>{{item.shippingDisplay()}}</span>
                    </div>
                    <div class="totals">
                        <span class="text-gray">TOTAL</span>
                        <span>{{item.totalDisplay()}}</span>
                    </div>
                    <div class="totals">
                        <button class="btn btn-primary" (click)="openNewReview()">Rate</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<ng-template #newRating>
    <div class="modal-main">
        <div class="header">
            <table>
                <tr>
                    <td class="image">
                        <img [src]="primary" [alt]="model!.name" onContextMenu="return false;">
                    </td>
                    <td class="details px-3">
                        <span class="badge text-bg-secondary" *ngIf="iItem.type === 'card'">CARD</span>
                        <span class="badge text-bg-secondary" *ngIf="iItem.type === 'card' && iItem.personalize !== undefined">PERSONALIZE</span>
                        <span class="badge text-bg-secondary" *ngIf="iItem.type === 'sticker'">STICKER</span>
                        <span class="badge text-bg-secondary" *ngIf="iItem.type === 'postcard'">POSTCARD</span>
                        <span class="badge text-bg-secondary" *ngIf="iItem.type === 'gift'">GIFT</span>
    
                        <p class="text-purple my-0 cursor" [routerLink]="['/new/details/' + iItem.type + '/' + iItem.itemId]">{{model!.name}}</p>
                        <p class="text-gray mb-0">{{model!.description}}</p>
                        <p class="text-purple mb-0" *ngIf="bundleDetails !== ''">{{bundleDetails}}</p>
                    </td>
                </tr>
            </table>
        </div>

        <form>
            <form [formGroup]="reviewForm">
                <div class="px-5 mb-5">
                    <div class="row mb-3">
                        <div class="col-md-12 px-1">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="title" placeholder="title" formControlName="title"
                                    [ngClass]="{ 'is-invalid': submitted && reviewForm.controls.title.errors}">
                                <label for="title">Title</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 px-1">
                            <div [ngClass]="'rating-lg'">
                                <ngb-rating [max]="5" [rate]="rate"id="rate" placeholder="rate" formControlName="rate"
                                [ngClass]="{ 'is-invalid': submitted && reviewForm.controls.rate.errors}"></ngb-rating>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 px-1">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Review" rows="5" formControlName="review" [ngClass]="{ 'is-invalid': submitted && reviewForm.controls.review.errors}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </form>

        <div class="display">
            <button type="button" class="btn btn-secondary" aria-label="Close" (click)="onClose()">Cancel</button>
            <button type="button" class="btn btn-primary" aria-label="Submit" (click)="submit()" [disabled]="!(item && model)">Submit</button>
        </div>
        

    </div>
</ng-template>