<div class="card bg-light border-light mb-2" *ngIf="item && model">
    <div class="card-body py-2">
        <table>
            <tr>
                <td class="image">
                    <img [src]="primary" [alt]="model.name" onContextMenu="return false;">
                </td>
                <td class="details px-3">
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'card'">CARD</span>
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'card' && iItem.personalize !== undefined">PERSONALIZE</span>
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'sticker'">STICKER</span>
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'postcard'">POSTCARD</span>
                    <span class="badge text-bg-secondary" *ngIf="iItem.type === 'gift'">GIFT</span>

                    <p class="text-purple my-0 cursor" [routerLink]="['/new/details/' + iItem.type + '/' + iItem.itemId]">{{model.name}}</p>
                    <p class="text-gray mb-0">{{model.description}}</p>
                    <p class="text-purple mb-0" *ngIf="bundleDetails !== ''">{{bundleDetails}}</p>
                </td>
                <td class="amount text-end">
                    <div class="totals">
                        <span class="text-gray">PRICE</span>
                        <span>{{item.priceDisplay()}}</span>
                    </div>
                    <div class="totals">
                        <span class="text-gray">SHIPPING FEE</span>
                        <span>{{item.shippingDisplay()}}</span>
                    </div>
                    <div class="totals">
                        <span class="text-gray">TOTAL</span>
                        <span>{{item.totalDisplay()}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>