<div class="row mb-2">
    <div class="col-8">
        <div class="row pe-2 mb-1">
            <div class="col-12 bg-light p-2 mb-2">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <input type="checkbox" id="all" class="me-2" (change)="includeAll()" [checked]="selectall" /><label for="all">SELECT ALL
                            ({{allOrders.length.toString()}} ITEM(S))</label>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-light btn-sm" (click)="deleteAll()" [disabled]="selected.length === 0">DELETE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pe-2 mb-1">
            <div class="col-12 bg-light p-2 mb-2" *ngFor="let item of allOrders">
                <app-cart-thumb [order]="item" [selected]="checkIfSelected(item.id!)" (changeInclude)="changeInclude($event)"
                    (deleteItem)="delete([$event])"></app-cart-thumb>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="p-3 bg-light">
            <h5 class="my-2">Order Summary</h5>

            <div class="flexspacebetween">
                <label>Subtotal:</label>
                <label><strong class="total">{{priceService.locationSign(location)}} {{subtotal | number:'1.2-2'}}</strong></label>
            </div>
            <div class="flexspacebetween">
                <label>Shipping:</label>
                <label><strong class="total">{{priceService.locationSign(location)}} {{shipping | number:'1.2-2'}}</strong></label>
            </div>

            <div class="flexspacebetween mt-3 mb-4">
                <label>Total:</label>
                <label><strong class="total">{{priceService.locationSign(location)}} {{total | number:'1.2-2'}}</strong></label>
            </div>

            <button class="btn btn-primary btn-block w-100 mb-3" [disabled]="selected.length == 0" (click)="toPay()" *ngIf="isPayment == false">
                To Pay {{priceService.locationSign(location)}} {{this.total.toFixed(2)}}
            </button>

            <div class="mb-2" *ngIf="isPayment == true">
                <div class="mb-3">
                    <form [formGroup]="form" (submit)="onVerify()">
                        <div class="input-group mb-1">
                            <input type="text" class="form-control" placeholder="Enter Special Code" formControlName="code"
                                [ngClass]="{ 'is-invalid': codeSubmitted && form.controls.code.errors}" [disabled]="specialCodes.length === 0">
                            <button class="btn btn-outline-primary" type="submit" [disabled]="processing">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="processing"></span>
                                Verify
                            </button>
                        </div>
                        <span *ngIf="codeError !== ''" class="text-danger" style="font-size: 0.8rem;"><i class="bi bi-info-circle-fill me-1"></i>{{codeError}}</span>
                    </form>
                </div>

                <button class="btn btn-warning btn-block w-100 mb-2" [disabled]="total == 0 || processing" (click)="payNow(gcash_payment)" *ngIf="location == 'ph'">
                    {{'cart.payviagcash'|translate}}
                </button>

                <button class="btn btn-success btn-block w-100 mb-2" [disabled]="total == 0 || stripeProcess || processing" (click)="payStripe()">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="stripeProcess"></span>
                    <span class="ps-2" *ngIf="stripeProcess">Loading...</span>
                    <span *ngIf="!stripeProcess">Pay via Stripe</span>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #gcash_payment let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'cart.scanandpay'|translate}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <div class="row">
                <div class="col-12 mb-2 text-center">
                    <img src="/assets/images/gcash.png" class="mainitem" onContextMenu="return false;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <label class="form-label">{{'cart.totalamount'|translate}}: {{priceService.getSign()}} <strong>{{total |
                            number:'1.2-2'}}</strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <input type="hidden" value="">
                    <label for="formFile" class="form-label">{{'cart.proofofpayment'|translate}}</label>
                    <input type="file" id="formFile" class="upload" (change)="uploadFile($event)">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <button class="btn btn-primary full-size" [disabled]="gcashUploadedFile == ''"
                        (click)="saveTransaction('GCash')">{{'button.submit'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>