<ion-content>
    <h2 style="font-size:0px;margin: 0;">Gifts</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="header-div">
                <ion-label class="label-header">GIFTS FOR ANY OCCASSION</ion-label>
            </div>
            <div class="subheader-div">
                <ion-label class="label-subheader">FiBei Greetings Gift Guide is designed to make your gift-giving
                    experience a breeze! Whether you're searching for the perfect present for a loved one or looking for
                    thoughtful gift ideas for any occasion, our guide is here to help.</ion-label>
            </div>
            <div class="items-div">
                <div class="row header pb-2 mb-4">
                    <div class="col-md-4">
                        <h2 [class]="mode =='Category'?'text-center my-header active':'text-center my-header'"
                            (click)="modeChange('Category')">{{'gifts.categorytext'|translate}}</h2>
                    </div>
                    <div class="col-md-4">
                        <h2 [class]="mode =='Recipient'?'text-center my-header active':'text-center my-header'"
                            (click)="modeChange('Recipient')">{{'gifts.recipienttext'|translate}}</h2>
                    </div>
                    <div class="col-md-4">
                        <h2 [class]="mode =='Event'?'text-center my-header active':'text-center my-header'"
                            (click)="modeChange('Event')">{{'gifts.eventtext'|translate}}</h2>
                    </div>
                </div>
                <app-gift-events *ngIf="mode=='Category'" [events]="categories">
                </app-gift-events>
                <app-gift-events *ngIf="mode=='Recipient'" [events]="recipients">
                </app-gift-events>
                <app-gift-events *ngIf="mode=='Event'" [events]="events">
                </app-gift-events>
            </div>
            <div class="card-option-banner-div">
                <img src="/assets/images/gift/card-option-banner.png" onContextMenu="return false;">
                <div class="message-cards" [routerLink]="['/events']"></div>
                <div class="poetry-cards" [routerLink]="['/poetry']"></div>
                <div class="signandsend-cards" [routerLink]="['/signandsend']"></div>
            </div>
            <div class="try-sign-and-send-div">
                <img src="/assets/images/gift/try-sign-and-send.png" onContextMenu="return false;">
                <div class="know-more" [routerLink]="['/signandsendpage']"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="f-title">More from FiBeiGreetings</h2>
                    <br />
                </div>

                <div class="col-md-10 offset-md-1">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/stickercards']">STICKERS</div>
                        </div>
                        <!-- <div class="col-md-6" *ngIf="priceService.getLocation() != 'ph'">
                            <div class="f-links" [routerLink]="['/gifts']"  >GIFTS</div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/specialtycardpage']">SPECIALTY CARDS</div>
                        </div>
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/postcards']">POSTCARDS</div>
                        </div>
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/games']">GAMES</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/more-min.png">
                    <br /><br />
                </div>
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/hbd/more-2-min.png">
                    <div style="height: 67%;width: 21%; position: absolute; left: 23%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 45.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 68.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/signandsend']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-2-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-2-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/delivery-ph-min.png" *ngIf="priceService.getLocation() == 'ph'"
                        class="img-fluid " style="width:100%">
                    <img src="/assets/images/2024/hbd/delivery-min.png" *ngIf="priceService.getLocation() != 'ph'"
                        class="img-fluid " style="width:100%">
                    <br /> <br />
                </div>
            </div>
            -->
        </div>

    </section>
    <app-footer></app-footer>
</ion-content>