<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<ion-content>
    <h2 style="font-size:0px;margin: 0;">Sign & Sign Page</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container mothersday-component">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/banner/sns-p-min.png" class="img-fluid" onContextMenu="return false;">
                    <br /><br />
                    <img src="/assets/images/signandsend/page/v2/icons.png" class="img-fluid" onContextMenu="return false;">
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/signandsend/page/v2/Sign Send Process.gif" style="width:100%" onContextMenu="return false;">
                    <br /> <br />
                    <div class="text-center">
                        <img src="/assets/images/2023/hw/banner/snsp-02-min.png" onContextMenu="return false;">
                    </div>
                    <br /> <br />
                    <img src="/assets/images/signandsend/page/v2/2.png" style="width:100%" onContextMenu="return false;">
                    <img src="/assets/images/signandsend/page/v2/3.png" style="width:100%" onContextMenu="return false;">

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12 pt-3 pb-3">
                </div>
            </div>
            <div routerLink="/signandsend" class="to-link"><img src="/assets/images/signandsend/page/SandS-banner2.png" class="img-fluid"
                    onContextMenu="return false;"></div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/more-min.png" onContextMenu="return false;">
                    <br /><br />
                </div>
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/hbd/more-2-min.png" onContextMenu="return false;">
                    <div style="height: 67%;width: 21%; position: absolute; left: 23%; bottom: 0%;cursor: pointer;" [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 45.5%; bottom: 0%;cursor: pointer;" [routerLink]="['/postcards']">
                    </div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 68.5%; bottom: 0%;cursor: pointer;" [routerLink]="['/signandsend']">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-2-min.png" onContextMenu="return false;">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;" target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;" [routerLink]="['/stickercards']">
                    </div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-2-min.png" onContextMenu="return false;">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;" target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;" [routerLink]="['/stickercards']">
                    </div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/delivery-ph-min.png" *ngIf="priceService.getLocation() == 'ph'" class="img-fluid "
                        style="width:100%" onContextMenu="return false;">
                    <img src="/assets/images/2024/hbd/delivery-min.png" *ngIf="priceService.getLocation() != 'ph'" class="img-fluid "
                        style="width:100%" onContextMenu="return false;">
                    <br /> <br />
                </div>
            </div>
        </div>
        <style>
            .mothersday-component>* {
                /*font-family: 'Montserrat';*/
                font-size: 22px;
            }

            h2 {
                text-align: center;
                font-weight: bolder;
                color: #6b2d98;
                font-size: 30px;
            }

            .to-link {
                opacity: 0.9;
                cursor: pointer;
            }

            .to-link:hover,
            .to-link:active {
                opacity: 1;
            }
        </style>
    </section>
    <app-footer></app-footer>
</ion-content>