<app-new-loading [loading]="loading"></app-new-loading>

<div class="mxw-1920px mt-2" *ngIf="loading === false && model" #top>
    <div class="row main">
        <div class="col-6 px-1">
            <app-new-details-images [images]="images"></app-new-details-images>
        </div>
        <div class="col-6 px-1">
            <div class="space-around-top mb-4">
                <div>
                    <h1>{{this.model.name}}</h1>
                    <label>CODE: {{this.model.code}}</label>
                </div>
                <app-new-wish-indicator></app-new-wish-indicator>
            </div>
            <div class="mb-3">
                <app-new-personalize-button class="me-2" *ngIf="type === 'card'"></app-new-personalize-button>
                <app-new-add-cart-button></app-new-add-cart-button>
            </div>
            <div class="mb-2">
                <h3 class="my-0">{{this.model.priceDisplay()}}</h3>
            </div>
            <div class="mb-2">
                <app-new-rate [rate]="rate"></app-new-rate>
            </div>
            <div class="details mb-3">{{model.details}}</div>
            <div class="icons pt-3">
                <span class="badge text-bg-secondary i-poetry me-2" *ngIf="isPoetry"><i class="fa fa-leaf" aria-hidden="true"></i> Poetry</span>
                <span class="badge text-bg-secondary i-featured me-2" *ngIf="isFeatured"><i class="fa fa-fire" aria-hidden="true"></i> Featured</span>
                <img class="me-2" src="/assets/images/icon_free_shipping.png">
            </div>
        </div>
    </div>
</div>

<div class="mxw-1920px row mt-5" *ngIf="model">
    <div class="col-12">
        <h3>You may also like</h3>
    </div>
    <div class="col-12">
        <app-new-suggestions></app-new-suggestions>
    </div>
</div>