<app-new-loading [loading]="loading"></app-new-loading>

<div class="mxw-1920px mt-2" *ngIf="loading === false && card" #top>
    <div class="row main">
        <div class="col-6 px-1">
            <app-new-details-images [images]="images"></app-new-details-images>
        </div>
        <div class="col-6 px-1">
            <div class="space-around mb-4">
                <h1>{{this.card.name}}</h1>
                <a class="c-heart" href="#"><i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
            </div>
            <div class="space-around mb-3">
                <h3 class="my-0">{{this.card.priceDisplay()}}</h3>
                <div class="v3-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>
            <div class="mt-2 mb-4">
                <button type="button" class="btn fibei-btn-o" (click)="onPersonalize()">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    Personalize
                </button>
                <button type="button" class="btn fibei-btn">Add to Cart</button>
            </div>
            <div class="details">
                {{card.details}}
            </div>
        </div>
    </div>
</div>

<div class="mxw-1920px row mt-5" *ngIf="card">
    <div class="col-12">
        <h3>You may also like</h3>
    </div>
    <div class="col-12">
        <app-new-suggestions></app-new-suggestions>
    </div>
</div>