<ion-app>
  <ion-header>
    <app-header></app-header>
  </ion-header>
  <div class="ion-page" id="main-content">
    <section class="section-name padding-y-sm">
      <div class="container animate main">
        <ion-router-outlet id="main"></ion-router-outlet>
      </div>
    </section>
  </div>
  <ion-content id="tabsSection">
    <app-tabs></app-tabs>
  </ion-content>
  
  <!--
  <ion-content>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 200px;">
      <img src="/assets/images/logo_fibeigreetings-com.png" title="FibeiGreetings.com" style="width: 300px;">
      <h2 style="color: #dc17be;">NEW SITE ON THE WAY</h2>
    </div>
  </ion-content>
  -->
</ion-app>