<ion-app *ngIf="isMobile">
  <ion-content [fullscreen]="true">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="cards" [routerLink]="['/new/cards']" [routerDirection]="'forward'">
          <img src="../assets/images/mobile/pcard.png" height="30%">
          <span>CARDS</span>
        </ion-tab-button>
        <!--
        <ion-tab-button tab="bundles" [routerLink]="['/new/bundles']" [routerDirection]="'forward'">
          <img src="../assets/images/mobile/mail.png" height="30%">
          <span>BUNDLES</span>
        </ion-tab-button>
        -->
        <ion-tab-button tab="stickers" [routerLink]="['/new/stickers']" [routerDirection]="'forward'">
          <img src="../assets/images/mobile/sticker.png" height="30%">
          <span>STICKERS</span>
        </ion-tab-button>
        <ion-tab-button tab="postcards" [routerLink]="['/new/postcards']" [routerDirection]="'forward'">
          <img src="../assets/images/mobile/postcard.png" height="30%">
          <span>POSTCARDS</span>
        </ion-tab-button>
        <ion-tab-button tab="gifts" [routerLink]="['/new/gifts']" [routerDirection]="'forward'">
          <img src="../assets/images/mobile/gift.png" height="30%">
          <span>GIFTS</span>
        </ion-tab-button>
        <ion-tab-button tab="profile" [routerLink]="['/new/profile']" [routerDirection]="'forward'">
          <img src="../assets/images/mobile/user.png" height="30%">
          <span>ACCOUNT</span>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-app>

<ion-router-outlet *ngIf="!isMobile"></ion-router-outlet>