.main {
  min-height: 700px;
}

.content {
  margin-top: 50px;
}

ion-router-outlet {
  zoom: 80%;
}

@media(min-width: 768px) {
  ion-header {
    display: block;
  }

  app-footer {
    display: block;
  }

  // .hydrated{
  //   visibility: hidden!important;
  // }

}

@media(max-width: 768px) {
  ion-header {
    display: none;
  }

  app-footer {
    display: none;
  }

  // .hydrated{
  //   visibility: inherit!important;
  // }
}


.bk-white {
  background: white
}

ion-tab-button {
  background: #ab62c2;
  color: white;
  font-weight: bold !important;
  font-family: lato;
  letter-spacing: 0.5px;
  width: 0%;
}

ion-tab-button span {
  font-size: 75%;
  margin-top: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ion-tab-button.tab-selected {
  background: #6f3f7e !Important;
}

img {
  color: white;
}