<ion-app  *ngIf="isMobile" >
    <ion-content [fullscreen]="true">
        <ion-tabs >
            <ion-tab-bar slot="bottom" *ngIf="isLogIn">
              <ion-tab-button tab="home" [routerLink]="['/home']" [routerDirection]="'forward'">
                <img src="../assets/images/mobile/home.png" height="30px">
                <span>HOME</span>
              </ion-tab-button>
              <ion-tab-button tab="cards" [routerLink]="['/cards']" [routerDirection]="'forward'">
                <img src="../assets/images/mobile/pcard.png" height="30px">
                <span>CARDS</span>
              </ion-tab-button>
              <ion-tab-button tab="stickers" [routerLink]="['/stickers']" [routerDirection]="'forward'">
                <img src="../assets/images/mobile/sticker.png" height="30px">
                <span>STICKERS</span>
              </ion-tab-button>
              <ion-tab-button tab="postcards" [routerLink]="['/postcards']" [routerDirection]="'forward'">
                <img src="../assets/images/mobile/postcard.png" height="30px">
                <span>POSTCARDS</span>
              </ion-tab-button>
              <ion-tab-button tab="gifts" [routerLink]="['/gifts']" [routerDirection]="'forward'">
                <img src="../assets/images/mobile/gift.png" height="30px">
                <span>GIFTS</span>
              </ion-tab-button>
              <ion-tab-button tab="profile" [routerLink]="['/profile']" [routerDirection]="'forward'">
                <img src="../assets/images/mobile/user.png" height="30px">
                <span>ACCOUNT</span>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
    </ion-content>
</ion-app>

<ion-router-outlet *ngIf="!isMobile"></ion-router-outlet>