<div class="" id="v3">
    <div class="row bg-light">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <img src="/assets/images/logo_fibeigreetings-com.png" title="FibeiGreetings.com" routerlink="/"
                        oncontextmenu="return false;" class="img-title img-fluid" style="cursor: pointer;" tabindex="0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="ms-auto d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <!-- <div class="d-flex icon-menu">
                          
                           
                            <i class="fa fa-2x fa-user-circle" aria-hidden="true"></i>
                        </div> -->
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"> <i
                                        class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> <i class="fa fa-2x fa-heart" aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> <i class="fa fa-2x fa-user-circle"
                                        aria-hidden="true"></i></a>
                            </li>

                        </ul>


                    </div>
                </div>

            </nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Birthday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wedding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Anniversary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Browse all cards </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stickers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Postcards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gifts  </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="label-header">Cards </h2>
            <br/>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Cards</li>
                </ol>
              </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="label-header lh-h3">What are you shopping for?</h3> 
           <span class="fibei-badge">Birthday</span>
           <span class="fibei-badge">anniversary</span>
           <span class="fibei-badge">wedding</span>
           <span class="fibei-badge">retirement</span>
           <span class="fibei-badge">graduation</span>
           <span class="fibei-badge">mothers day</span>
           <span class="fibei-badge">fathers day</span>
        </div>
    </div>
</div>