<div class="mxw-1920px mt-2">
    <div>
        <div class="row image-panel">
            <div class="col-md-12">
                <img src="/assets/images/2024/v3/homepage/v3-birthday.png">
            </div>
            <div class="col-md-8">
                <img src="/assets/images/2024/v3/homepage/v3-wedding.png">
            </div>
            <div class="col-md-4">
                <img src="/assets/images/2024/v3/homepage/v3-thankyou.png">
            </div>
            <div class="col-md-4">
                <img src="/assets/images/2024/v3/homepage/v3-friendship.png">
            </div>
            <div class="col-md-8">
                <img src="/assets/images/2024/v3/homepage/v3-anniversary.png">
            </div>
        </div>
    </div>
</div>