<div class="mxw-1920px mt-2">
    <div>
        <!--
        <div class="mb-4">
            <div class="row">
                <div class="col-md-12 relative">
                    <img src="/assets/images/2025/Easter.gif" onContextMenu="return false;" style="width: 100%;"
                        [routerLink]="['/new/details/card/3E4Ng5wsPpxXEWNh35lC']">
                    <div class="action" style="top: 0;
                        left: 0;
                        width: 62%;
                        height: 100%;" [routerLink]="['/new/details/card/HZvYoxBfTAjLrW5ZZTpZ']"></div>
                    <div class="action" style="top: 86.2%;left: 61%; width: 18.4%;height: 7.3%;" [routerLink]="['/new/cards/Easter']"></div>
                    <div class="action" style="top: 15%; left: 58.5%; width: 11.1%; height: 54%;"
                        [routerLink]="['/new/details/card/7wOtth5CkRuDEy27Jc2l']"></div>
                    <div class="action" style="top: 15%; left: 73%; width: 11.2%; height: 53.9%;"
                        [routerLink]="['/new/details/card/XzOteMlSTCo5zNTXmBJF']"></div>
                </div>
            </div>
        </div>
        -->
        <div class="mb-2" style="position: relative;">
            <ngb-carousel #carousel [interval]="10000" [wrap]="true" [keyboard]="true" [pauseOnHover]="true" [showNavigationArrows0]="false"
                [showNavigationIndicators]="false" [animation]="true">
                <!-- <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-md-12 relative">
                            <img src="/assets/images/2025/Easter.gif" onContextMenu="return false;" style="width: 100%;" [routerLink]="['/new/details/card/3E4Ng5wsPpxXEWNh35lC']">
                            <div class="action" style="top: 0; left: 0; width: 62%; height: 100%;" [routerLink]="['/new/details/card/HZvYoxBfTAjLrW5ZZTpZ']"></div>
                            <div class="action" style="top: 86.2%;left: 61%; width: 18.4%;height: 7.3%;" [routerLink]="['/new/cards/Easter']"></div>
                            <div class="action" style="top: 15%; left: 58.5%; width: 11.1%; height: 54%;" [routerLink]="['/new/details/card/7wOtth5CkRuDEy27Jc2l']"></div>
                            <div class="action" style="top: 15%; left: 73%; width: 11.2%; height: 53.9%;" [routerLink]="['/new/details/card/XzOteMlSTCo5zNTXmBJF']"></div>
                        </div>
                    </div>
                </ng-template> -->


                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-md-12 relative">
                            <!--
                            <img src="/assets/images/2025/mothersdaybanner.gif" onContextMenu="return false;" style="width: 100%;"
                                [routerLink]="['/new/details/card/Xv0l6QcL84jXiPwkUXat']">
                            -->
                            <video autoplay loop muted playsinline class="gif-like-video" [src]="'/assets/images/2025/mothersdaybanner.mp4'" style="width: 100%;">
                            </video>
                            <div class="action" style="top: 90%; left: 74%; width: 18.4%; height: 7%;" [routerLink]="['/new/cards/Mother\'s day']">
                            </div>
                            <div class="action" style="top: 22%; left: 58.2%; width: 11.1%; height: 54%;"
                                [routerLink]="['/new/details/card/arMtDZXbI0lcK06h2BHD']"></div>
                            <div class="action" style="top: 22%; left: 72.5%; width: 11.2%; height: 53.9%;"
                                [routerLink]="['/new/details/card/4JkzAt50w6cTXlMzmbbh']"></div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
            <div class="arrow-left" (click)="onPrev()">
                <button>
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </button>
            </div>
            <div class="arrow-right" (click)="onNext()">
                <button>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </button>
            </div>
        </div>

        <div class="image-panel">
            <!--
            <div class="col-md-12 relative" *ngIf="location === 'us'">
                <img src="/assets/images/new/homepage/thanksgiving.gif" onContextMenu="return false;">
                <div class="action" style="top: 86.5%; left: 77%; width: 18.2%; height: 7.3%;" [routerLink]="['/new/cards/Christmas']"></div>
                <div class="action" style="top: 16%; left: 63.2%; width: 11.1%; height: 54%;" [routerLink]="['/new/details/card/Wltn8yHzehIKxQJw2M85']"></div>
                <div class="action" style="top: 16%; left: 77%; width: 11.6%; height: 53.9%;" [routerLink]="['/new/details/card/ElELJkWoj7DbuV0wn4Br']"></div>
            </div>            
            <div class="col-md-12 relative">
                <img src="/assets/images/new/homepage/christmas.gif" onContextMenu="return false;">
                <div class="action" style="top: 86.2%;left: 78.2%; width: 18.4%;height: 7.3%;" [routerLink]="['/new/cards/Christmas']"></div>
                <div class="action" style="top: 20%; left: 57.9%; width: 11.1%; height: 54%;" [routerLink]="['/new/details/card/2Z7Bc60SRcOBZlC1MrLy']"></div>
                <div class="action" style="top: 20.3%; left: 71.1%; width: 11.2%; height: 53.9%;" [routerLink]="['/new/details/card/8SGVJmnPCNt1fa1fPFXV']"></div>
            </div>
            -->
            <!--
            <div class="col-md-12 relative">
                <img src="/assets/images/new/homepage/newyear.gif" onContextMenu="return false;">
                <div class="action" style="top: 84.2%;left: 74.2%; width: 18.4%;height: 7.3%;" [routerLink]="['/new/cards/new year']"></div>
                <div class="action" style="top: 23%; left: 70.5%; width: 11.1%; height: 54%;" [routerLink]="['/new/details/card/LTxcRsloPHLOZTV4fNPI']"></div>
                <div class="action" style="top: 23%; left: 83.5%; width: 11.2%; height: 53.9%;" [routerLink]="['/new/details/card/GVRGOeSrAdzE0XssqmZe']"></div>
            </div>
            -->

            <!-- <div class="col-md-12 relative">
                <img src="/assets/images/new/homepage/birthday_2025.gif" onContextMenu="return false;">
                <div class="action" style="top: 0;
                left: 0;
                width: 68%;
                height: 100%;" [routerLink]="['/new/details/card/VZeamEBYRtHezDXj9Vas']"></div>
                <div class="action" style="top: 85.8%; left: 73.7%; width: 18.8%; height: 6.9%;"
                    [routerLink]="['/new/cards/Birthday']"></div>
                <div class="action" style="top: 15.8%; left: 63.2%; width: 11.1%; height: 53.3%;"
                    [routerLink]="['/new/details/card/MdSqv8PEZGh00UZRF9kF']"></div>
                <div class="action" style="top: 15.8%; left: 77.7%; width: 10.6%; height: 53.9%;"
                    [routerLink]="['/new/details/card/LG91AKqkj1dsvvql51Zv']"></div>
            </div> -->
            <div class="col-md-12 relative mb-2">
                <!--
                <img src="/assets/images/new/homepage/birthday_and_promo_2025.gif" onContextMenu="return false;">
                -->
                <video autoplay loop muted playsinline class="gif-like-video" [src]="'/assets/images/new/homepage/birthday_and_promo_2025.mp4'" style="width: 100%;">

                </video>
                <div class="action" style="top: 0;left: 0;width: 33%;height: 100%;" [routerLink]="['/new/cards/all']"></div>

                <div class="action" style="top: 0;left: 34%;width: 30%;height: 100%;" [routerLink]="['/new/details/card/VZeamEBYRtHezDXj9Vas']"></div>
                <div class="action" style="top: 87.8%;left: 64%;width: 17.5%;height: 6.9%;" [routerLink]="['/new/cards/Birthday']"></div>
                <div class="action" style="top: 29.8%;left: 64.2%; width: 11.1%; height: 53.3%;"
                    [routerLink]="['/new/details/card/MdSqv8PEZGh00UZRF9kF']"></div>
                <div class="action" style="top: 29.5%;left: 77.5%; width: 11.1%; height: 53.9%;"
                    [routerLink]="['/new/details/card/LG91AKqkj1dsvvql51Zv']"></div>
            </div>
            <div class="col-md-12 relative">
                <img src="/assets/images/new/homepage/banner2.png" onContextMenu="return false;">
                <div class="action" style="top: 29.6%; left: 30.8%; width: 11.2%; height: 53.7%;"
                    [routerLink]="['/new/details/card/0CIxejRrg1wgsk5xivX6']"></div>
                <div class="action" style="top: 29.6%; left: 43.4%; width: 11%; height: 53.7%;"
                    [routerLink]="['/new/details/card/7yKPOViKfC9vo82j07Nr']"></div>
                <div class="action" style="top: 87.8%; left: 30.5%; width: 16.5%; height: 6.9%;" [routerLink]="['/new/cards/Wedding']"></div>
                <div class="action" style="top: 29.2%; left: 71%; width: 11.4%; height: 53.9%;"
                    [routerLink]="['/new/details/card/EVULtQDCTSIhCHjO0Chj']"></div>
                <div class="action" style="top: 29.5%; left: 84.2%; width: 11.3%; height: 54.5%;"
                    [routerLink]="['/new/details/card/0zA9DFSBLIEWuE5FXe7T']"></div>
                <div class="action" style="top: 87.8%; left: 70.9%; width: 16.5%; height: 6.9%;" [routerLink]="['/new/cards/Thank you']"></div>
            </div>
            <div class="col-md-12 relative">
                <img src="/assets/images/new/homepage/banner3.png" onContextMenu="return false;">
                <div class="action" style="top: 30%; left: 4.5%; width: 11%; height: 53.7%;"
                    [routerLink]="['/new/details/card/Qnj5FIRG7SoNCUebq59n']"></div>
                <div class="action" style="top: 29.6%; left: 17.6%; width: 11%; height: 53.7%;"
                    [routerLink]="['/new/details/card/Wiye8R9mzlbDnsYHU4RX']"></div>
                <div class="action" style="top: 87.8%; left: 4.5%; width: 16.4%; height: 6.9%;" [routerLink]="['/new/cards/Friendship']"></div>
                <div class="action" style="top: 29.8%; left: 63.9%; width: 11.1%; height: 53.3%;"
                    [routerLink]="['/new/details/card/SdVC50XoxBG9Pcp6kv0G']"></div>
                <div class="action" style="top: 29.6%; left: 76.6%; width: 10.9%; height: 53.3%;"
                    [routerLink]="['/new/details/card/E33L7gYiAiEXx7YLKyAE']"></div>
                <div class="action" style="top: 87.7%; left: 63.9%; width: 17%; height: 6.8%;" [routerLink]="['/new/cards/Anniversary']"></div>
            </div>
            <div class="col-md-12 relative">
                <img src="/assets/images/new/homepage/banner4.png" onContextMenu="return false;">
                <div class="action" style="top: 29.8%; left: 32.6%; width: 11%; height: 53.7%;"
                    [routerLink]="['/new/details/card/cbXQZON78SOWO0fq3EJw']"></div>
                <div class="action" style="top: 29.6%; left: 45.5%; width: 11%; height: 53.7%;"
                    [routerLink]="['/new/details/card/FZpHatYDcZJi0OObPjYG']"></div>
                <div class="action" style="top: 87.8%; left: 32.6%; width: 16.5%; height: 6.9%;" [routerLink]="['/new/cards/Get well']"></div>
                <div class="action" style="top: 29.8%; left: 71.5%; width: 11%; height: 53.7%;"
                    [routerLink]="['/new/details/card/BUNOJIgCeRMOP0X6kSmW']"></div>
                <div class="action" style="top: 29.6%; left: 84.5%; width: 11%; height: 53.7%;"
                    [routerLink]="['/new/details/card/RgoYNKeW9JQvwuUhCttb']"></div>
                <div class="action" style="top: 87.7%; left: 70.9%; width: 16.5%; height: 6.9%;" [routerLink]="['/new/cards/Sympathy']"></div>
            </div>
            <div class="col-md-12 relative" *ngIf="location === 'ph'">
                <img src="/assets/images/new/homepage/banner5-ph.png" onContextMenu="return false;">
                <div class="action" style="top: 6.8%; left: 36.1%; width: 19.2%; height: 87.7%;" [routerLink]="['/new/stickers/all']"></div>
                <div class="action" style="top: 6.8%; left: 56.5%; width: 19.2%; height: 87.7%;" [routerLink]="['/new/postcards/all']"></div>
                <div class="action" style="top: 6.8%; left: 77.2%; width: 19.2%; height: 87.7%;" [routerLink]="['/new/gifts/all']"></div>
            </div>
            <div class="col-md-12 relative" *ngIf="location === 'us'">
                <img src="/assets/images/new/homepage/banner5-us.png" onContextMenu="return false;">
                <div class="action" style="top: 6.8%; left: 47.2%; width: 19.2%; height: 87.2%;" [routerLink]="['/new/stickers/all']"></div>
                <div class="action" style="top: 6.8%; left: 70.9%; width: 19.2%; height: 87.2%;" [routerLink]="['/new/postcards/all']"></div>
            </div>
            <div class="col-md-12 relative" *ngIf="location === 'sg'">
                <img src="/assets/images/new/homepage/banner5-sg.png" onContextMenu="return false;">
                <div class="action" style="top: 6.8%; left: 47.2%; width: 19.2%; height: 87.2%;" [routerLink]="['/new/stickers/all']"></div>
                <div class="action" style="top: 6.8%; left: 70.9%; width: 19.2%; height: 87.2%;" [routerLink]="['/new/postcards/all']"></div>
            </div>
            <div class="col-md-12 relative">
                <img src="/assets/images/new/homepage/banner6.png" onContextMenu="return false;">
                <div class="action" style="top: 88.3%; left: 74.1%; width: 20.1%; height: 5.6%;" [routerLink]="['/new/cards/PERSONALIZED']"></div>
            </div>
        </div>
    </div>
</div>