
.label-header {
    font-family: Proxima Nova;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: #5e17eb;
    margin: 0;
}

.label-header.lh-h2 {
    font-size: 2.5rem;
}

.label-header.lh-h3 {
    font-size: 2.0rem;
}

.fibei-badge {
    font-family: "Proxima Nova";
    border: 2px #5e17eb solid;
    color: #5e17eb;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 20px;
}

.fibei-badge:hover {
    font-family: "Proxima Nova";
    border: 2px #5e17eb solid;
    color: #fff;
    background: #5e17eb;
    cursor: pointer;

}


.image-panel>div {
    margin-bottom: 20px;
}

.image-panel img {
    opacity: 0.8;
    cursor: pointer;
}

.image-panel img:hover,
.image-panel img:active {
    opacity: 1;
}

.relative{
    position: relative;
}

.relative .action{
    position: absolute;
    cursor: pointer;
}