<div class="sign-up-div">
  <form>
    <div>
      <img
        src="/assets/images/homepage/mail-icon.png"
        onContextMenu="return false;"
      />

      <h2>
        STAY CONNECTED AND INFORMED: <br />
        SIGN UP FOR THE LATEST UPDATES!
      </h2>
    </div>

    <input
      type="text"
      class="firstname"
      placeholder="FIRST NAME"
      formControlName="firstname"
    />
    <input
      type="text"
      class="lastname"
      placeholder="LAST NAME"
      formControlName="lastname"
    />
    <input
      type="email"
      class="email"
      placeholder="EMAIL ADDRESS"
      formControlName="email"
    />

    <p>
      BY CLICKING "SUBMIT", YOU AGREE TO RECEIVE EMAILS FROM FIBEIGREETINGS.COM
      AND ACCEPT OUR TERMS OF SERVICE, PRIVACY, AND COOKIES POLICIES.
    </p>

    <button type="submit" class="button">SIGN UP</button>
  </form>
</div>
