* {
    font-family: Proxima Nova;
  }
  
  .event-card {
    background: white;
    padding: 10px;
    border: 1px solid rgb(171, 171, 171);
    position: relative;
  }
  
  .two-columns {
    border-radius: 15px;
  }
  
  .three-columns {
    padding: 5px;
  }
  
  .two-columns > .img-container {
    height: 160px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .three-columns > .img-container {
    height: auto;
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .img-container > img {
    width: 100%;
    height: auto;
  }
  
  .card-info > h2,
  .card-info > p {
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card-info {
    margin: 12px auto 5px;
  }
  
  .card-info > h2 {
    margin-bottom: 5px;
    white-space: nowrap;
  }
  
  .two-columns .card-info > h2 {
    font-size: 11px;
  }
  
  .two-columns .card-info > p {
    font-size: 11px;
  }
  
  .three-columns .card-info > h2 {
    font-size: 7px;
  }
  
  .three-columns .card-info > p {
    font-size: 7px;
  }
  
  ion-icon {
    font-size: 20px;
    color: #545454;
    cursor: pointer;
  }
  
  .toggle-container {
    display: flex;
    justify-content: end;
    margin-top: 5px;
  }
  
  .toggle-container ion-button {
    font-size: 14px;
    color: #ab62c2;
    display: flex;
    align-items: center;
  }
  
  .toggle-container ion-icon {
    margin-right: 5px;
    font-size: 20px;
  }
  