<div class="content">
    <div class="toggle-container">
  
    </div>
  
    <ion-grid style="padding-left: 0px; padding-right: 0px;" [fixed]="true">
      <ion-row class="ion-align-items-center ion-justify-content-center"> 
          <ion-col 
            sizeLg="3" sizeMd="6" sizeXs="6" class="col-event"
            *ngFor="let product of products">
            <app-product-tile-mobile [iproduct]="product" [type]="type"></app-product-tile-mobile>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>