.label-header {
    font-family: Proxima Nova;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: #5e17eb;
    margin: 0;
}

.label-header.lh-h3 {
    font-size: 2.0rem;
}

.fibei-badge {
    font-family: "Proxima Nova";
    border: 1px #cb6ce6 solid;
    color: #cb6ce6;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
}

.fibei-badge:hover {
    font-family: "Proxima Nova";
    border: 1px #cb6ce6 solid;
    color: #fff;
    background: #cb6ce6;
}

.fibei-badge-select {
    font-family: "Proxima Nova";
    border: 1px #cb6ce6 solid;
    color: #fff;
    background: #cb6ce6;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
}