* {
    font-family: Proxima Nova;
}

ion-searchbar{
    width: 100%;
    --color: #cb6ce6;
    --box-shadow: none;
    --border-radius: 20px;
    --icon-color: #cb6ce6;
    --placeholder-color: #cb6ce6;
    --placeholder-opacity: 0.5;
}

::ng-deep ion-searchbar .searchbar-input-container input {
    border: 0.5px solid #cb6ce6 !important;
    border-radius: 30px !important;
}