* {
    font-family: Proxima Nova;
}

ion-searchbar {
    width: 100%;
    --color: #5e17eb;
    --box-shadow: none;
    --icon-color: #5e17eb;
    --placeholder-color: #5e17eb;
    --placeholder-opacity: 0.5;
}

::ng-deep ion-searchbar .searchbar-input-container input {
    border: 0.5px solid #5e17eb !important;
    border-radius: 50px !important;
}