<div class="container" ng-app="app" *ngIf="batches.length > 0">
  <div class="row center-content">
    <h5><b>{{'card.alsolike'|translate}}</b></h5>
  </div>
  <div class="row center-content ms-2 me-4" ng-controller="appController">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let batch of batches">
        <div class="row justify-content-md-center slide">
          <div class="col-11">
            <div class="row justify-content-md-center">
              <div class="col-md-2 col-6 cursor" *ngFor="let card of batch.cards">
                <a href="{{'/card/' + card.id}}" routerLinkActive="router-link-active">
                  <div class="div-img">
                    <img [src]="card.imageUrl" onContextMenu="return false;">
                  </div>
                  <h6 class="mb-1">{{card.name.toUpperCase()}}</h6>
                  <img src="assets/images/sign-send-logo.png" *ngIf="card.signAndSend" class="signandsend" onContextMenu="return false;">
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>