<div class="item" *ngIf="order && card">
    <input type="checkbox" [checked]="mark" (change)="updateInclude()">
    <div class="img">
        <img [src]="url" *ngIf="url !== ''" onContextMenu="return false;"/>
    </div>
    <div class="details">
        <p class="mb-1"><strong>{{card.name}}</strong></p>
        <p>Type: {{card.type.toUpperCase()}} {{card.type === 'card'?' - ' + order.type.toUpperCase(): ''}}</p>
        <p *ngIf="order.receiver_name">{{'cart.receiver'|translate}}: <strong>{{order.receiver_name}}</strong> ({{order.receiver_email}})</p>
        <p *ngIf="order.withSignAndSend">{{'cart.signandsend'|translate}}: <strong>{{order.withSignAndSend?'Yes':'No'}}</strong></p>
        <p>{{'cart.date'|translate}}: {{order.created!.seconds * 1000 | date:'medium'}}</p>
    </div>
    <div class="sub">
        <p><strong>{{getPrice()}}</strong></p>
    </div>
    <div class="price">
        <p><strong>{{getSign()}} {{(order.card_price!)| number:'1.2-2'}}</strong></p>
    </div>
    <div class="shipping">
        <p *ngIf="['card','gift','sticker','postcard'].includes(card.type)">Shipping</p>
        <p *ngIf="['card','gift','sticker','postcard'].includes(card.type)">{{getShippingFee()}}</p>
    </div>
    <div class="action">
        <mat-icon class="delete" (click)="delete()" title="Remove">delete</mat-icon>
    </div>
</div>