<div class="card cursor" (click)="onClick()" *ngIf="_sticker !== undefined">
    <div class="img-div">
        <img [src]="primary" [alt]="_sticker.name" class="card-img default-image" *ngIf="primary !== ''" onContextMenu="return false;">
        <img [src]="secondary" [alt]="_sticker.name" class="card-img hover-image" *ngIf="secondary !== ''" onContextMenu="return false;">
    </div>
    <div class="c-heart">
        <app-new-wish-indicator [id]="_sticker.id" *ngIf="_sticker.active"></app-new-wish-indicator>
        <div class="c-featured" *ngIf="_sticker.featured === true && _sticker.active" title="Featured Sticker">
            <i class="fa fa-fire" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card-body px-2 py-3">
        <h4 class="card-title text-purple my-0">{{_sticker.name}}</h4>
        <h4 class="card-description text-gray my-1">{{_sticker.description !== '' ? _sticker.description : _sticker.details}}</h4>
        <label class="text-purple mb-2" *ngIf="_sticker.active"><b class="mb-2">{{_sticker.priceDisplay()}}</b></label>
        <app-new-add-cart-button type="sticker" [item]="sticker" [fullwidth]="true" *ngIf="_sticker.active"></app-new-add-cart-button>
        <label class="text-danger mb-2" *ngIf="_sticker.active === false"><b class="mb-2">This item is not longer active</b></label>
    </div>
</div>