<div class="card cursor" (click)="onClick()">
    <div class="img-div">
        <img [src]="primary" alt="Default Image" class="card-img default-image" *ngIf="primary !== ''" onContextMenu="return false;">
        <img [src]="secondary" alt="Hover Image" class="card-img hover-image" *ngIf="secondary !== ''" onContextMenu="return false;">
    </div>
    <div class="c-heart">
        <app-new-wish-indicator [id]="_sticker.id"></app-new-wish-indicator>
        <div class="c-featured" *ngIf="_sticker.featured === true" title="Featured Sticker">
            <i class="fa fa-fire" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card-body px-2 py-3">
        <h4 class="card-title text-purple my-0">{{_sticker.name}}</h4>
        <h4 class="card-description text-gray my-1">{{_sticker.description}}</h4>
        <div class="column">
            <label class="text-purple mb-2"><b class="mb-2">{{_sticker.priceDisplay()}}</b></label>
            <app-new-add-cart-button type="sticker" [item]="sticker"></app-new-add-cart-button>
        </div>
    </div>
</div>