<ion-content fullscreen="true">
  <app-new-loading [loading]="!model"></app-new-loading>

  <ion-grid *ngIf="model">
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="6">
        <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-item lines="none">
          <app-wish-indicator-mobile slot="end" [id]="model.id"></app-wish-indicator-mobile>
          <ion-icon (click)="goToCart()" slot="end" name="cart-outline" class="icon-cart"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="card-header-container">
          <h2> {{model.name}} </h2>
          <div class="card-header">
            <p> {{model.description ? model.description : " "}} </p>
          </div>
          <div class="prices" *ngIf="isBundle === false">
            <p class="text-black me-1 ms-0 my-0"><b>Price </b></p>
            <p class="text-purple my-0"><b> {{getPrice()}}</b></p>
            <p class="text-gray mx-2 my-0" *ngIf="isPersonalize">-</p>
            <p class="text-blue my-0" *ngIf="isPersonalize"><b>{{getPersonalizePrice()}}</b></p>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center img-container">
        <swiper-container [pager]="true" [slidesPerView]="1" [loop]="true">
          <swiper-slide *ngFor="let image of images">
            <!-- class="slider ion-justify-content-center ion-align-items-center"  -->
            <img alt="Silhouette of mountains" [src]="image" />
          </swiper-slide>
        </swiper-container>
        <!-- <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail> -->
      </ion-col>
    </ion-row>
    <br/>
    <ion-row class="card-message">
     
      <ion-col class="p-0">
        <span class="my-rec">Recipient:</span>
        <span class="recipients ion-justify-content-center ion-align-items-center"
          *ngFor="let recipient of model.recipients">
          <ion-badge>{{recipient}}</ion-badge>
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="card-message">
      <h5>Details: </h5>
    </ion-row>
    <ion-row class="card-message">
      <p *ngIf="type == 'cards'">
        {{ getMessage('short') }}
      </p>
      <p *ngIf="type !=='cards'">
        {{ getMessage('long') }}
      </p>
    </ion-row>

    <div *ngIf="type=='cards' && showPersonalize">
      <ion-row>
        <ion-col size="12">
          
          <div *ngFor="let data of personalize!.data">
            <div *ngFor="let detail of data.details" class="text-area">
              <app-personalize-textarea-mobile [detail]="detail"
                (onChange)="changeTextarea($event)"></app-personalize-textarea-mobile>
            </div>
          </div>
     
        </ion-col>
      </ion-row>
    </div>

    <!-- {{text !== '' ? text : placeholder}} -->

    <!-- [style.top.px]="detail.top" 
    [style.left.px]="detail.left" 
    [style.width.px]="detail.width" 
    [style.height.px]="detail.height"
    (blur)="onBlur($event)"
    (click)="onClick()"  -->
    <!-- <form [formGroup]="form" >
      <ion-row>
        <ion-col
          size="12"
          class="ion-justify-content-center ion-align-items-center"
        >
          <ion-input
            id="recipient"
            class="recipient-input"
            label="Recipient"
            label-placement="floating"
            fill="outline"
            placeholder="Who is it for?"
            formControlName="recipient"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col
          size="12"
          class="ion-justify-content-center ion-align-items-center"
        >
          <ion-input
            id="emailto"
            class="email-input"
            label="Email"
            label-placement="floating"
            fill="outline"
            placeholder="Email Address:"
            formControlName="emailto"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col
          size="12"
          class="ion-justify-content-center ion-align-items-center"
        >
          <ion-textarea
            id="message"
            class="message-input"
            label="Message"
            label-placement="floating"
            fill="outline"
            placeholder="Add a Message"
            formControlName="message"
          ></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col
          size="12"
          class="ion-justify-content-center ion-align-items-center"
        >
          <ion-input
            id="sender"
            class="sender-input"
            label="Sender"
            label-placement="floating"
            fill="outline"
            placeholder="Sender:"
            formControlName="sender"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col
          size="12"
          class="ion-justify-content-center ion-align-items-center"
        >
          <ion-input
            id="emailfrom"
            class="email-from-input"
            label="Email From"
            label-placement="floating"
            fill="outline"
            placeholder="Email Address:"
            formControlName="emailfrom"
          ></ion-input>
        </ion-col>
      </ion-row>
    </form> -->

    <ion-row>
      <ion-col size="12" class="btn-container ion-align-items-center">
        <div *ngIf="isBundle">
          <ion-button fill="outline" size="small" class="me-1 mb-2" *ngFor="let bundle of bundles"
            (click)="onClickBundle(bundle)">
            Bundle of <b>{{bundle.countDisplay()}} pcs</b> for <b>{{bundle.priceDisplay()}}</b>
          </ion-button>
        </div>
        <app-add-cart-button-mobile class="me-2" [type]="itemType" [item]="iModel"
          *ngIf="isAddToCart && !showPersonalize"></app-add-cart-button-mobile>
        <ion-button *ngIf="showPersonalize" class="cuz-button-personalize" (click)="addToCart()"> Add To Cart</ion-button>
        <ion-button *ngIf="isPersonalize" class="cuz-button-personalize" (click)="addPersonalize()">{{ !showPersonalize ? "Personalize" :
          "Cancel"}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>