* {
  font-family: Proxima Nova;
}

ion-grid {
  padding: 25px;
}

.icon-heart,
.icon-cart {
  font-size: 30px;
  color: gray;
}

.btn-close {
  font-size: 10px;
  color: black;
}

.img-container {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

ion-thumbnail {
  --size: 40%;
  height: 100%;
}

.card-header-container>h2 {
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ab62c2;
}

.card-header {
  display: flex;
}

.card-header>p {
  line-height: 1.2;
  margin-top: 0;
  font-weight: bold;
  font-size: 16px;
}

.card-header>.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.card-header>.prices>p {
  font-size: 1rem;
}

.card-header>p:nth-child(2) {
  font-weight: 400;
}

.card-message h5 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 0;
}

.card-message p {
  font-size: 1.5rem;
  margin-bottom: 10px;
  white-space: pre-line;
  line-height: 1;
}

// .btn-container > ion-button {
//   background: #8cc0c2;
//   border-radius: 10px;
//   color: white;
//   font-weight: bold;
//   font-size: 14px;
//   padding: 8px 24px;
//   margin-right: 15px;
//   margin-top: 20px;
// }

.terms>button {
  font-size: 12px;
  padding: 5px 10px;
  background: gray;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin-top: 10px;
}

.terms_conditions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.terms_conditions ion-label {
  font-size: 12px;
  color: gray;
}

ion-input,
ion-textarea {
  font-size: 12px;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.171);
  width: 100%;
  --padding-start: 8px;
}

.arrow-container {
  position: relative;
}

.return-top {
  position: absolute;
  right: 10px;
  bottom: 0px;
  z-index: 10;
  font-size: 20px;
  color: gray;
}

.recipients {
  margin-top: 10px;
  margin-right: 5px;
}

// .slider {
//   display: flex;
// }

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.personalize {
  font-family: "Proxima Nova";
  border: 1px #5e17eb solid;
  background: white;
  color: #5e17eb;
  cursor: pointer;
  padding-block: 6px;
  padding-inline: 10px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
}

.personalize:hover {
  font-family: "Proxima Nova";
  border: 1px #5e17eb solid;
  color: #fff;
  background: #5e17eb;
  font-size: 1rem;
}

.text-area {
  display: block;
}

swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #3880ff);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100% !important;
  height: 100%;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.my-rec {
  font-size: 2rem;
  position: relative;
  top: -6px;
  padding-right: 10px;
  font-weight: bold;
}

.cuz-button-personalize {
  height: 36px;
  margin-top: -4px;
}