* {
    font-family: Proxima Nova;
  }
  
  .card-list {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  h2 {
    margin: 0;
    font-weight: bold;
    color: #545454;
  }
  
  ion-grid {
    position: relative;
    margin-top: 15px;
    width: 90%;
  }
  
  .header-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto 0;
    padding: 0;
  }
  
  ion-icon {
    font-size: 24px;
    color: #545454;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  .my-filter
  {
    border: 1px solid #ccc;
  }
  .my-filter ion-icon
  {
    border: none;
    margin-right:0;
  }
  
  .badge-row {
    display: flex;
    // justify-content: space-between;
    align-items: left;
    gap: 5px;
  }
  
  ion-badge {
    background-color: #ab62c2;
    color: white;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 10px;
    // margin-top: 10px;
  }
  
  ion-item {
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    padding: 0;
  }