<ion-content fullscreen="true">

  <app-new-loading [loading]="!currentEvent"></app-new-loading>

  <ion-grid *ngIf="currentEvent">
    <ion-row>
      <ion-col size="12" class="header-col">
        <h2>{{ currentEvent.name | uppercase }} CARDS</h2>
        <div>
          <ion-icon name="heart" (click)="goToWishlist()"></ion-icon>
          <ion-icon (click)="goToCart()" name="cart-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="badge-row" >
      <div *ngFor="let recipient of recipients">
        <ion-badge (click)="onRecipientSelect(recipient)">{{recipient}}</ion-badge>
      </div>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center">
        <app-loading-mobile [loading]="loading"></app-loading-mobile>
        <app-product-list-mobile *ngIf="display && !loading" [products]="display" [type]="type!"></app-product-list-mobile>
        <h5 *ngIf="!loading && display.length == 0">No {{event | titlecase}} {{type | titlecase}} available right now!</h5>
    </ion-row>
  </ion-grid>
  </ion-content>
  