<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" size="large" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="goToWishlist()">
        <ion-icon slot="icon-only" size="large" name="heart"></ion-icon>
      </ion-button>
      <ion-button id="cart-button" (click)="goToCart()" >
        <ion-icon slot="icon-only" size="large" name="cart-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ currentEvent.name | uppercase }}{{this.bundle? ' BUNDLE' : ''}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)"
  (ionScrollStart)="logScrollStart($event)"
  (ionScrollEnd)="logScrollEnd($event)"
  fullscreen="true">

  <app-new-loading [loading]="!currentEvent"></app-new-loading>

  <app-title-mobile  *ngIf="currentEvent" title="{{ currentEvent.name | uppercase }}{{this.bundle? ' BUNDLE' : ''}}" [wishlist]="true" [cart]="true"></app-title-mobile>


  <ion-fab
    *ngIf="currentEvent"
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  > 
    <ion-fab-button (click)="scrollEvent()" size="small">
      <ion-icon *ngIf="canScrollUp" name="arrow-up"></ion-icon>
      <ion-icon *ngIf="canScrollDown" name="arrow-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="currentEvent">

    <ion-row class="badge-row" *ngIf="display.length > 1  && !loading" (ionChange)="onRecipientSelect($event)">
      <ion-list class="my-filter">
        <ion-item [lines]="'none'">
          <ion-icon name="funnel-outline"></ion-icon>
          <!-- placeholder="Filter" -->
          <ion-select label="Filter"  interface="alert" >
              <ion-select-option *ngFor="let recipient of recipients" [value]="recipient"
              >{{recipient}}</ion-select-option>
            </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center">
        <app-loading-mobile [loading]="loading"></app-loading-mobile>
        <app-product-list-mobile *ngIf="display && !loading" [products]="display" [type]="type!"></app-product-list-mobile>
        <h5 *ngIf="!loading && display.length == 0">No {{event | titlecase}} {{type | titlecase}} available right now!</h5>
    </ion-row>
  </ion-grid>
  </ion-content>
  