* {
  font-family: Proxima Nova;
}

.top-bar {
  width: 100%;
  height: 20px;
  background: #ab62c2;
  margin-bottom: 30px;
}

ion-grid {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.logo-container > ion-img {
  width: 180px;
  margin: 0 auto 20px;
}

ion-input {
  font-weight: bold;
  font-size: 14px;
  --padding-start: 10px;
  --padding-end: 10px;
  --min-height: 40px;
}

ion-button {
  --background: #8cc0c2;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 15px auto;
}

ion-button::part(native) {
  border-radius: 25px;
  height: 40px;
  width: 180px;
}

.external > ion-img {
  width: 90px;
}

.external > ion-img:first-child {
  margin-right: 35px;
}

.external > ion-img:last-child {
  width: 105px;
  margin-bottom: 2px;
}

ion-toggle {
  --track-background-checked: #377ffd;
  --track-background: white;
  --handle-background: darkgray;
  --handle-width: 14px;
  --handle-height: 14px;
  --handle-max-height: auto;
  --handle-spacing: 2px;
  --handle-border-radius: 25px;
  --handle-box-shadow: none;
  padding: 1px;
  height: 20px;
  width: 45px;
}

ion-toggle::part(track) {
  height: 18px;
  width: 40px;
  border: 1px solid darkgray;
  overflow: visible;
}

.lbl-toggle {
  font-size: 14px;
  font-weight: bold;
  white-space: normal;
  margin-left: 10px;
  line-height: 1.2;
  width: 90%;
  color: #545454;
}

.lbl-toggle > span {
  font-weight: normal;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.lbl-forgot {
  font-weight: bold;
  font-size: 12px;
  color: gray;
}

.external {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.input {
  --background: #fff;
  --background-activated: #fff;
  --background-focused: #fff;
  --color: #545454;
  // display: flex;
  // flex-direction: column;
}

.input::part(native) {
  border-color: #000000;
  border-width: 1px;
  border-radius: 10px;
  padding-left: 10px;
}

.input input {
  padding-bottom: 10px;
}

.input input::placeholder{
  font-weight: normal;
}

.external ion-img {
  width: 120px;
  height: 50px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
