<div class="top-bar"></div>

<ion-grid class="ion-justify-content-center ion-align-items-center">
  <ion-row
    class="slide-content-container ion-justify-content-center ion-align-items-center"
  >
    <ion-col size="8" class="slide-content ion-text-center logo-container">
      <ion-img
        src="/assets/images/logo_fibeigreetings.png"
        alt="Fibeigreetings"
      ></ion-img>
    </ion-col>
  </ion-row>

  <!-- Email Input -->
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12">
      <ion-input
        class="email-input"
        label="Email"
        label-placement="floating"
        fill="outline"
        placeholder="Email Address"
      ></ion-input>
    </ion-col>
  </ion-row>

  <!-- Name Input -->
  <ion-row clas>
    <ion-col size="6">
      <ion-input
        class="first-name-input"
        label="First Name"
        label-placement="floating"
        fill="outline"
        placeholder="First Name"
      ></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-input
        class="last-name-input"
        label="Last Name"
        label-placement="floating"
        fill="outline"
        placeholder="Last Name"
      ></ion-input>
    </ion-col>
  </ion-row>

  <!-- Password Input -->
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12">
      <ion-input
        class="password-input"
        label="Password"
        label-placement="floating"
        fill="outline"
        placeholder="Password"
      ></ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12">
      <ion-input
        class="confirm-password-input"
        label="Confirm Password"
        label-placement="floating"
        fill="outline"
        placeholder="Confirm Password"
      ></ion-input>
    </ion-col>
  </ion-row>

  <!-- Toggle -->
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12">
      <ion-item lines="none" class="ion-no-padding">
        <ion-toggle slot="start"></ion-toggle>
        <ion-label slot="end" class="lbl-toggle"
          >Sign up for email updates, notifications, special offers and
          promotion emails</ion-label
        >
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item lines="none" class="ion-no-padding">
        <ion-toggle slot="start"></ion-toggle>
        <ion-label slot="end" class="lbl-toggle"
          >I Agree with the <span>Terms and Agreement</span></ion-label
        >
      </ion-item>
    </ion-col>

    <ion-button expand="full" fill="solid"> REGISTER </ion-button>
  </ion-row>

  <ion-row class="ion-justify-content-center external">
    <ion-img src="/assets/images/google.png"></ion-img>
    <ion-img src="/assets/images/facebook_logo.png"></ion-img>
  </ion-row>

  <ion-row class="ion-justify-content-center external">
    <div class="ion-text-center lbl-forgot">
      <label>
        Already have an account?
        <a href="/login">Tap here to login</a>
      </label>
    </div>
  </ion-row>
</ion-grid>
