#v3 {
    font-family: Proxima Nova;
}

#v3 .img-title {
    height: 60px;
}

#v3 .icon-menu>i {
    padding: 0 8px;
}

#v3 .icon-menu>i:last-child {
    padding-right: 0 !important
}

.header-border{
    border-bottom: 3px solid #cd19b9;
}