<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <app-new-layout-header [type]="0" [showHeader]="showHeader" (onShowMenu)="onShowMenu($event)"></app-new-layout-header>
    <app-new-layout-header [type]="1" [showHeader]="showHeader" (onShowMenu)="onShowMenu($event)"></app-new-layout-header>
    
    <div class="msg text-center" *ngIf="user === undefined">
        <label class="link" (click)="onClickSignIn()">Sign in</label>&nbsp;<label>or</label>&nbsp;<label class="link" [routerLink]="['/new/registration']">Join us now!</label>
    </div>
    
    <div class="content pb-5" [ngClass]="showMenu ? 'opacity' : ''">
        <router-outlet></router-outlet>
    </div>
    
    <div [ngClass]="showMenu ? 'opacity' : ''">
        <ion-footer>
            <div class="mxw-1920px">
                <ion-row class="footer-links">
                    <ion-col>
                        <h3 class="label-header footer-h3"> CUSTOMER SERVICE</h3>
                        <h5><a [routerLink]="['/new/link/contact-us']">Contact Us</a></h5>
                        <h5><a>Chat Now</a></h5>
                        <h5><a>Review Product</a></h5>
                    </ion-col>
                    <ion-col>
                        <h3 class="label-header footer-h3">KNOW MORE</h3>
                        <h5><a>About FibeiGreetings</a></h5>
                        <h5><a>Press Page</a></h5>
                        <h5><a>Sign And Send</a></h5>
                    </ion-col>
                    <ion-col>
                        <h3 class="label-header footer-h3">ORDER INFORMATION</h3>
                        <h5><a>Shipping and Delivery</a></h5>
                    </ion-col>

                    <ion-col>
                        <h3 class="label-header footer-h3">TERMS OF USE</h3>
                        <h5><a [routerLink]="['/new/link/terms-and-condition']">Terms and Conditions</a></h5>
                        <h5><a> Privacy Policy</a></h5>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <div class="col-md-4 offset-md-4">
                        <div class="text-center">
                            <h3>Connect with us</h3>
                            <div class="input-group mb-4">
                                <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Sign Up</button>
                            </div>
                            <div class="im-social mb-3">
                                <a target="_blank">
                                    <i class="fab fa-2x fa-instagram"></i>
                                </a>
                                <a target="_blank">
                                    <i class="fab fa-2x fa-facebook"></i>
                                </a>
                                <a target="_blank">
                                    <i class="fab fa-2x fa-pinterest"></i>
                                </a>
                                <a target="_blank">
                                    <i class="fab fa-2x fa-twitter"></i>
                                </a>
                                <a target="_blank">
                                    <i class="fab fa-2x fa-youtube"></i>
                                </a>
                            </div>
                            <a href="/" class="mb-4"><img src="/assets/images/logo_fibeigreetings.png" class="img-fluid" style="max-height:50px;"></a>
                            <div class="mb-5">© 2024 FiBeiGreetings.com</div>
                        </div>

                    </div>
                </ion-row>
            </div>
        </ion-footer>
    </div>
</ion-content>