.nav-item {
    font-family: Proxima Nova;
}

.img-title {
    height: 60px;
}

.v3 .icon-menu>i {
    padding: 0 8px;
}

.v3 .icon-menu>i:last-child {
    padding-right: 0 !important
}

.header-border {
    border-bottom: 3px solid #5e17eb;
}

.im-social a {
    height: 50px;
    background: #7f05951f;
    margin: 0px 4px;
    border-radius: 50%;
    width: 50px;
    display: inline-block;
    padding: 10px;
    color: #5e17eb;
}

.im-social a:hover {
    color: #000
}

.label-header {
    font-family: Proxima Nova;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: #5e17eb;
    margin: 0;
}

.label-header.lh-h2 {
    font-size: 2.5rem;
}

.label-header.lh-h3 {
    font-size: 2.0rem;
}

.label-header.footer-h3 {
    font-size: 1.5rem;
}

.content{
    min-height: 755px;
}

ion-footer {
    font-family: 'Proxima Nova' !important;
}

ion-footer h5{
    margin-block: 8px;
}

.footer-links a {
    font-size: 1rem;
    font-family: Proxima Nova;
    cursor: pointer;

}

.footer-links a:hover,
.footer-links a:active {
    color: #5e17eb;

}