.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.images img{
    width: 100px;
    opacity: 0.9;
}

.images img:hover{
    opacity: 1;
}

.loading {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ion-spinner{
    width: 100px;
    height: 100px;
    color: #cb6ce6;
}
