<div class="mxw-1536px">
    <h1 class="text-purple my-4">Press Page</h1>

    <div class="card">
        <div class="card-body">
            <hr />
            <h3 class="text-purple">Our Logo
            </h3>
            <div class="row">

                <div class="col-md-4"><img src="/assets/images/new/static/logo.png" class="img-fluid mg-thumbnail" onContextMenu="return false;">
                </div>
                <div class="col-md-4"><img src="/assets/images/new/static/logo-o.png" class="img-fluid mg-thumbnail" onContextMenu="return false;">
                </div>
                <div class="col-md-4"><img src="/assets/images/new/static/logo-circle.png" class="img-fluid mg-thumbnail"
                        onContextMenu="return false;"></div>
            </div>
            <br /><br />
            <h3 class="text-purple">Our Homepage
            </h3>
            <div style="padding:20px;border:1px solid #ccc">
                <img src="/assets/images/new/static/ss-homepage-2.png" class="img-fluid mg-thumbnail" style="width:100% !important"
                    onContextMenu="return false;">
            </div>
            <br /><br />
            <h3 class="text-purple">Social Media Accounts
            </h3>
            <div class="row social-accounts">
                <div class="col-md-2 text-center">
                    <a href="[FACEBOOK]" target="_blank">
                        <img src="/assets/images/new/static/ss/fb.png" class="img-fluid mg-thumbnail" onContextMenu="return false;">
                        <h3>Facebook</h3>
                    </a>

                </div>
                <div class="col-md-2 text-center">
                    <a href="[YOUTUBE]" target="_blank">
                        <img src="/assets/images/new/static/ss/yt.png" class="img-fluid mg-thumbnail" onContextMenu="return false;">
                        <h3>Youtube</h3>
                    </a>

                </div>
                <div class="col-md-2 text-center">
                    <a href="[TWITTER]" target="_blank">
                        <img src="/assets/images/new/static/ss/tw.png" class="img-fluid mg-thumbnail" onContextMenu="return false;">
                        <h3>Twitter</h3>
                    </a>

                </div>
                <div class="col-md-2 text-center">
                    <a href="[PINTEREST]" target="_blank">
                        <img src="/assets/images/new/static/ss/pin.png" class="img-fluid mg-thumbnail" onContextMenu="return false;">
                        <h3>Pinterest</h3>
                    </a>

                </div>
                <div class="col-md-2 text-center">
                    <a href="[TIKTOK]" target="_blank">
                        <img src="/assets/images/new/static/ss/tt.png" class="img-fluid mg-thumbnail" onContextMenu="return false;">
                        <h3>Tiktok</h3>
                    </a>

                </div>
                <div class="col-md-2 text-center">
                    <a href="[INSTAGRAM]" target="_blank">
                        <img src="/assets/images/new/static/ss/ins.png" class="img-fluid mg-thumbnail" onContextMenu="return false;">
                        <h3>Instagram</h3>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>