<div class="main">
    <div class="header px-4 py-2">
        <img src="/assets/images/logo_fibeigreetings-com.png" class="logo" alt="Fibei Greetings" onContextMenu="return false;">
        <h4 class="text-puple">{{iCard && iCard.name}}</h4>
        <div class="close text-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
        </div>
    </div>
    <div class="content p-1">
        <app-new-loading [loading]="loading"></app-new-loading>

        <button class="btn btn-light text-primary border-0 left" (click)="onPrev()">
            <i class="fa fa-chevron-left nav me-1 text-primary"></i>
            PREV
        </button>

        <button class="btn btn-light text-primary border-0 right" (click)="onNext()">
            NEXT
            <i class="fa fa-chevron-right nav ms-1 text-primary"></i>
        </button>

        <div class="primary" *ngIf="selected !== undefined && loading === false && selected.title === 'Primary'">
            <img [src]="selected.url">
        </div>

        <div class="editing" *ngIf="selected !== undefined && loading === false && selected.title === 'Sign and Send'">
            <img [src]="selected.url">
            <app-new-textarea *ngFor="let item of getSignAndSendDetails(selected.url)" [detail]="item" (onChange)="changeTextarea($event)"></app-new-textarea>
        </div>
    </div>
    <div class="footer px-4 py-2">
        <div></div>
        <div class="images">
            <img *ngFor="let iImage of iImages" [src]="iImage.url" [ngClass]="selected!.url === iImage.url ? 'selected' : ''" (click)="onClick(iImage)">
        </div>
        <div>
            <button type="button" class="btn addtocart" [disabled]="isProcessing" (click)="onAddToCart()">
                <span class="spinner-border spinner-border-sm me-1" aria-hidden="true" *ngIf="isProcessing"></span>
                Add to Cart
            </button>
        </div>
    </div>
</div>