<app-new-loading [loading]="loading"></app-new-loading>
<h3 class="text-purple mb-4" *ngIf="loading === false && list.length > 0">You may also like</h3>
<div class="main" *ngIf="loading === false && list.length > 0">
    <div class="action text-start">
        <button [disabled]="!canClickPrevious" (click)="previous()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
    </div>
    <div class="row content" *ngIf="type === 'card'">
        <div class="col-2 px-2" *ngFor="let suggestion of getAsCard(list)">
            <app-new-card-thumb [card]="suggestion"></app-new-card-thumb>
        </div>
    </div>
    <div class="row content" *ngIf="type === 'sticker'">
        <div class="col-2 px-2" *ngFor="let suggestion of getAsSticker(list)">
            <app-new-sticker-thumb [sticker]="suggestion"></app-new-sticker-thumb>
        </div>
    </div>
    <div class="row content" *ngIf="type === 'postcard'">
        <div class="col-2 px-2" *ngFor="let suggestion of getAsPostcard(list)">
            <app-new-postcard-thumb [postcard]="suggestion"></app-new-postcard-thumb>
        </div>
    </div>
    <div class="row content" *ngIf="type === 'gift'">
        <div class="col-2 px-2" *ngFor="let suggestion of getAsGift(list)">
            <app-new-gift-thumb [gift]="suggestion"></app-new-gift-thumb>
        </div>
    </div>
    <div class="action text-end">
        <button [disabled]="!canClickNext" (click)="next()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
    </div>
</div>

