<app-new-loading [loading]="loading"></app-new-loading>
<h3 class="text-purple mb-4" *ngIf="loading === false && items.length > 0">You may also like</h3>
<div class="main" *ngIf="loading === false && items.length > 0">
    <div class="action text-start">
        <button [disabled]="batches.length <= 1" (click)="previous()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
    </div>
    
    <div class="content">
        <ngb-carousel #carousel>
            <ng-template ngbSlide *ngFor="let batch of batches">
                <div class="row">
                    <div class="col-2" *ngFor="let suggestion of batch.items" >
                        <app-new-card-thumb [card]="getAsCard(suggestion)" *ngIf="type === 'card'"></app-new-card-thumb>
                        <app-new-sticker-thumb [sticker]="getAsSticker(suggestion)" *ngIf="type === 'sticker'"></app-new-sticker-thumb>
                        <app-new-postcard-thumb [postcard]="getAsPostcard(suggestion)" *ngIf="type === 'postcard'"></app-new-postcard-thumb>
                        <app-new-gift-thumb [gift]="getAsGift(suggestion)" *ngIf="type === 'gift'"></app-new-gift-thumb>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <div class="action text-end">
        <button [disabled]="batches.length <= 1" (click)="next()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
    </div>
</div>

