.main{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main .action {
    width: 40px;
}

.main .action button{
    font-size: 30px;
    color: #bb5ed3;
    background: none;
}

.main .action button:disabled {
    opacity: 0.5;
}

.main .content{
    width: calc(100% - 40px - 40px);
}

