<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-2">
                    <a class="to-link">
                        <img src="/assets/images/valentines/v2/p-left.png" onContextMenu="return false;">
                    </a>
                </div>
                <div class="col-md-8">
                    <img src="/assets/images/valentines/v2/banner-1.png" style="width:100%"
                        onContextMenu="return false;">
                    <div class="col-md-12" style="background:#fa6373;padding: 18px; padding-bottom: 0;">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <a [routerLink]="['/poetry']" class="link-to-val">SHOP POETRY
                                    CARDS</a>
                            </div>
                            <div class="col-md-6 text-center">
                                <a [routerLink]="['/cards/events/Valentine\'s Day']" class="link-to-val">SHOP MESSAGE
                                    CARDS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a [routerLink]="['/cards/events/Valentine\'s Day']" class="to-link">
                        <img src="/assets/images/valentines/v2/p-right.png" onContextMenu="return false;">
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="row show-grid">
                    <div class="col-sm-6 col-md-1-5 col-lg-1-5">
                        <a [routerLink]="['/e-cards']" class="to-link">
                            <img src="/assets/images/valentines/v2/m-2-ecard-min.png" alt="e-cards"
                                onContextMenu="return false;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-1-5 col-lg-1-5">
                        <a [routerLink]="['/poetry']" class="to-link">
                            <img src="/assets/images/valentines/v2/m-2-poetry-min.png" alt="poetry"
                                onContextMenu="return false;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-1-5 col-lg-1-5">
                        <a [routerLink]="['/postcards']" class="to-link">
                            <img src="/assets/images/valentines/v2/m-2-postcard-min.png" alt="postcards"
                                onContextMenu="return false;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-1-5 col-lg-1-5">
                        <a [routerLink]="['/signandsend']" class="to-link">
                            <img src="/assets/images/valentines/v2/m-2-sns-min.png" alt="signandsend"
                                onContextMenu="return false;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-1-5 col-lg-1-5">
                        <a [routerLink]="['/stickers']" class="to-link">
                            <img src="/assets/images/valentines/v2/m-2-sticker-min.png" alt="stickers"
                                onContextMenu="return false;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/valentines/v2/header-2-min.png" onContextMenu="return false;">
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <h2 class="text-center cus-text-title">{{'home.featuredtitle'|translate}}</h2>
                    </div>

                    <div class="col-md-12">
                        <app-home-featured caption="Valentine's Day" homeCardEvent="Valentine's Day"
                            [limit]="100"></app-home-featured>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div [routerLink]="['/signandsendpage']" class="to-link"> <img
                                    src="/assets/images/valentines/v2/p-sns-1-min.png" style="width:100%"
                                    onContextMenu="return false;"></div>
                            <br /> <br />
                        </div>
                        <div class="col-md-6">
                            <div [routerLink]="['/signandsendpage']" class="to-link"> <img
                                    src="/assets/images/valentines/v2/p-pc-2-min.png" style="width:100%"
                                    onContextMenu="return false;"></div>
                            <br /> <br />
                        </div>
                    </div>
                    <div class="col-md-12 sns-no-label">
                        <app-home-featured caption="Sign and Send" [isSignAndSend]=true></app-home-featured>

                    </div>
                    <div class="col-md-12">
                        <br />
                        <h2 class="text-center cus-text-title">{{'home.featuredcategories'|translate}}</h2>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured caption="Birthday" homeCardEvent="Birthday"
                            [limit]="100"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured caption="Anniversary" homeCardEvent="Anniversary"
                            [limit]="100"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured caption="Sympathy" homeCardEvent="Sympathy"
                            [limit]="100"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured caption="Pet Cards" homeCardEvent="Pet" [limit]="100"></app-home-featured>
                    </div>
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-md-6 pe-0">
                    <div [routerLink]="['/events']" class="to-link"> <img src="/assets/images/valentines/v2/s-1-min.png"
                            style="width:100%" onContextMenu="return false;" </div>
                        <br /> <br />
                    </div>
                    <div class="col-md-6 ps-0">
                        <div [routerLink]="['/gifts']" class="to-link"> <img
                                src="/assets/images/valentines/v2/s-2-min.png" style="width:100%"
                                onContextMenu="return false;"></div>
                        <br /> <br />
                    </div>
                </div>
                <div>
                    <img src="/assets/images/valentines/v2/t-1-min.png" class="img-fluid cursor w100"
                        onContextMenu="return false;">
                    <br /><br />
                </div>
                <div class="col-md-12">
                    <!-- caption="BEST SELLER CARDS" -->
                    <app-home-bestseller></app-home-bestseller>
                </div>
                <div>
                    <img src="/assets/images/valentines/v2/t-2-min.png" class="img-fluid cursor w100"
                        onContextMenu="return false;">
                    <br /><br />
                </div>

                <div class="col-md-12">
                    <app-home-bestseller
                        [ids]="['2X3ni7P5BqGPU1UbBpwq','Euxi0KuwUQuzBvN29vEo','q7d8sezaICMch9CxdDKm','JKoqEQ373txpRG6e9u4r']"></app-home-bestseller>

                </div>

                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/assets/images/valentines/v2/bottom-banner-min.png"
                                *ngIf="priceService.getLocation() == 'ph'" class="img-fluid " style="width:100%"
                                onContextMenu="return false;">
                            <img src="/assets/images/valentines/v2/bottom-banner-min-us.png"
                                *ngIf="priceService.getLocation() != 'ph'" class="img-fluid " style="width:100%"
                                onContextMenu="return false;">
                            <br /> <br />
                            <img src="/assets/images/valentines/v2/2-min.png" class="img-fluid" style="width:100%"
                                onContextMenu="return false;">
                            <br /> <br />
                        </div>
                    </div>

                </div>

            </div>
    </section>
    <app-footer></app-footer>
</ion-content>