<div class="card p-2 mb-2 rounded-0" *ngIf="cart">
    <div class="card-body p-0">
        <div class="t-image">
            <img [src]="image" [title]="name" onContextMenu="return false;">
        </div>
        <div class="t-details ps-2">
            <div class="space-between mb-1">
                <label><b class="text-purple ellipsis-1">{{name}}</b></label>
                <i aria-hidden="true" class="fa fa-trash trash" (click)="onDelete()"></i>
            </div>
            <p class="text-gray twolines mb-2" *ngIf="cart.isActive && cart.isAvailable">{{description}}</p>
            <p class="text-danger mb-0" *ngIf="cart.isActive === false">This item is not longer active</p>
            <p class="text-danger mb-0" *ngIf="cart.isAvailable === false">This item is not available on this location</p>
            <div>
                <span class="badge text-bg-secondary" *ngIf="cart.type === 'card'">CARD</span>
                <span class="badge text-bg-secondary" *ngIf="cart.type === 'card' && cart.personalize !== null && cart.personalize !== undefined">PERSONALIZE</span>
                <span class="badge text-bg-secondary" *ngIf="cardbundle">BUNDLE</span>
                <span class="badge text-bg-secondary" *ngIf="cart.type === 'sticker'">STICKER</span>
                <span class="badge text-bg-secondary" *ngIf="cart.type === 'postcard'">POSTCARD</span>
                <span class="badge text-bg-secondary" *ngIf="cart.type === 'gift'">GIFT</span>
            </div>
            <div *ngIf="cart.isActive && cart.isAvailable">
                <label class="text-purple slanted-strike me-2" *ngIf="cart.isDiscounted && !cart.isPromo"><s>{{cart.originalPriceDisplay()}}</s></label>
                <label class="text-purple slanted-strike me-2" *ngIf="cart.isPromo && cart.isPromoAdjusted"><s>{{cart.originalPriceDisplay()}}</s></label>
                <label class="text-purple">{{cart.priceDisplay()}}</label>
            </div>
            <span *ngIf="cart.isDiscounted && !cart.isPromo && cart.isActive && cart.isAvailable" class="cus-discount my-0">{{cart.discountDisplay()}}</span> 
            <span *ngIf="cart.isPromo && cart.isActive && cart.isAvailable" class="cus-discount my-0">{{cart.promo!.title}}</span> 
        </div>
    </div>
</div>