<div class="card p-2 mb-2 rounded-0" *ngIf="cart">
    <div class="card-body p-0">
        <div class="t-image">
            <img [src]="image" [title]="name">
        </div>
        <div class="t-details ps-2">
            <div class="space-between mb-1">
                <label><b class="txt-purple">{{name}}</b></label>
                <i aria-hidden="true" class="fa fa-trash trash" (click)="onDelete()"></i>
            </div>
            <p class="mb-2">{{description}}</p>
            <label class="txt-purple">{{price}}</label>
            <div>
                <span class="badge text-bg-secondary" *ngIf="cart.type === 'card'">CARD</span>
                <span class="badge text-bg-secondary" *ngIf="cart.type === 'sticker'">STICKER</span>
            </div>
        </div>
    </div>
</div>