<div class="mxw-1920px mt-4">
    <div class="text-center mb-4">
        <h1 class="label-header">Join us now!</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-6 offset-sm-3">
            <form [formGroup]="form" (submit)="submit()">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email"
                                [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors}">
                            <label for="email">Email address</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 pe-1">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="firstname" placeholder="Firstname" formControlName="firstname"
                                [ngClass]="{ 'is-invalid': submitted && form.controls.firstname.errors}">
                            <label for="firstname">Firstname</label>
                        </div>
                    </div>
                    <div class="col-6 ps-1">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="lastname" placeholder="Lastname" formControlName="lastname"
                                [ngClass]="{ 'is-invalid': submitted && form.controls.lastname.errors}">
                            <label for="lastname">Lastname</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="date" class="form-control" id="bday" placeholder="Birthday" formControlName="birthday"
                                [ngClass]="{ 'is-invalid': submitted && form.controls.birthday.errors}">
                            <label for="bday">Birthday</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 pe-1">
                        <div class="form-floating password">
                            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && form.controls.password.errors}">
                            <label for="password">Password</label>
                            <div class="eye">
                                <i class="fa fab fa-eye"></i>
                                <!--
                                <i class="fa fab fa-eye-slash"></i>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="col-6 ps-1">
                        <div class="form-floating password">
                            <input type="password" class="form-control" id="confirm" placeholder="Confirm password" formControlName="confirm"
                                [ngClass]="{ 'is-invalid': submitted && form.controls.confirm.errors}">
                            <label for="confirm">Confirm password</label>
                            <div class="eye">
                                <i class="fa fab fa-eye"></i>
                                <!--
                                <i class="fa fab fa-eye-slash"></i>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-2">
                    <label><input class="form-check-input me-2" type="checkbox" formControlName="newsletter">Sign up for email updates, notifications,
                        special offers and
                        promotion emails</label>
                </div>
                <div class="mb-4">
                    <label><input class="form-check-input me-2" type="checkbox" formControlName="terms">I agree with the</label><a href=""
                        class="ms-2">Terms and
                        Agreement</a>
                </div>
                <div class="mb-4 text-center">
                    <button type="submit" class="create-btn" [disabled]="processing">
                        {{processing ? 'Creating Account ...' : 'Create my Account'}}
                    </button>
                </div>
            </form>
            <div class="mb-4">
                <label>Already have an Account?<a href="" class="ms-2">Sign in</a></label>
            </div>
        </div>
    </div>
</div>