<div class="toggle-container">
  <ion-button (click)="toggleColumns()" expand="full" fill="clear">
    <ion-icon name="grid-outline"></ion-icon>
  </ion-button>
</div>

<ion-grid>
  <ion-row>
    <ion-col [size]="4" class="col-event">
      <div class="event-card three-columns">
        <div class="img-container">
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
        </div>

        <div class="card-info">
          <h2>Happy Birthday Kiddo</h2>
          <p>₱99.00</p>
        </div>
      </div>
    </ion-col>
    <ion-col [size]="4" class="col-event">
      <div class="event-card three-columns">
        <div class="img-container">
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
        </div>

        <div class="card-info">
          <h2>Happy Birthday Kiddo</h2>
          <p>₱99.00</p>
        </div>
      </div>
    </ion-col>
    <ion-col [size]="4" class="col-event">
      <div class="event-card three-columns">
        <div class="img-container">
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
        </div>

        <div class="card-info">
          <h2>Happy Birthday Kiddo</h2>
          <p>₱99.00</p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
