* {
  font-family: Proxima Nova;
}

.event-card {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 15px;
}

.event-card > img {
  height: 180px;
  width: 160px;
}

.card-info > h2,
.card-info > p {
  font-size: 14px;
  color: rgb(64, 64, 64);
  line-height: 0.5;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

ion-icon {
  font-size: 24px;
  color: #ab62c2;
}
