<div class="mxw-1536px">
    <h1 class="text-purple my-4">Personalized Card Page</h1>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/new/static/personalized/b1.png" class="img-fluid"
                        onContextMenu="return false;">

                </div>
                <div class="col-md-6 offset-md-3 text-center">
                    <img src="/assets/images/new/static/personalized/b2.png" class="img-fluid"
                        onContextMenu="return false;">
                        <br/><br/>
                        <a class="btn btn-lg btn-pc" [routerLink]="['/new/cards/PERSONALIZED']" target="_blank">CLICK HERE TO SHOP MORE CARDS</a>
                        <br/><br/>
                        <br/><br/>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <ol id="pc">
                    <li>Click Personalize tab on Homepage</li>
                    <li>Select a Greeting Card</li>
                    <li>Click Buy Now</li>
                    <li>Fill in the necessary form</li>
                    <li>Click Personalize Card button</li>
                    <li>Click the write logo to type in your message</li>
                    <li>You can choose different fonts, sizes and alignment that best suites your style. Click “Done”
                        when finished.</li>
                    <li>Add your payment details and click add to cart.</li>
                    <li>Yehey! You are now ready to Send!</li>
                </ol>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/new/static/personalized/b3.png" class="img-fluid"
                    onContextMenu="return false;">
            </div>
        </div>
        </div>
    </div>
  
</div>