<ion-content fullscreen="true">
  <ion-grid class="ion-justify-content-center ion-align-items-center">
    <ion-row
      class="slide-content-container ion-justify-content-center ion-align-items-center"
    >
      <ion-col size="8">
        <ion-img
          class="logo"
          src="/assets/images/logo_fibeigreetings.png"
          alt="Fibeigreetings"
        ></ion-img>
      </ion-col>

      <ion-col size="10">
        <h2>Transaction</h2>

        <div class="transactions-container">
          <p class="transaction-number">#100250</p>
          <p class="transaction-amount">Total: 50.00</p>
          <p class="payment-type">Payment: Gcash</p>
          <p class="payment-date">Created: August 28, 2024 11:48AM</p>
        </div>
      </ion-col>

      <ion-col size="10">
        <div class="transactions-container">
          <p class="transaction-number">#100249</p>
          <p class="transaction-amount">Total: 50.00</p>
          <p class="payment-type">Payment: Gcash</p>
          <p class="payment-date">Created: August 28, 2024 11:48AM</p>
        </div>
      </ion-col>

      <ion-col size="10">
        <div class="transactions-container">
          <p class="transaction-number">#100248</p>
          <p class="transaction-amount">Total: 50.00</p>
          <p class="payment-type">Payment: Gcash</p>
          <p class="payment-date">Created: August 28, 2024 11:48AM</p>
        </div>
      </ion-col>

      <ion-col size="10">
        <div class="transactions-container">
          <p class="transaction-number">#100247</p>
          <p class="transaction-amount">Total: 50.00</p>
          <p class="payment-type">Payment: Gcash</p>
          <p class="payment-date">Created: August 28, 2024 11:48AM</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
