<app-new-loading [loading]="loading"></app-new-loading>

<div class="accordion" id="accordionExample" *ngIf="loading == false">
    <div class="accordion-item" *ngFor="let iPayment of iPayments">
        <h2 class="accordion-header mt-0">
            <button [ngClass]="selected === iPayment.id ? 'accordion-button py-2' : 'accordion-button py-2 collapsed'" type="button" data-bs-toggle="collapse" (click)="open(iPayment.id)">
                #{{iPayment.code}}
            </button>
        </h2>
        <div [ngClass]="selected === iPayment.id ? 'accordion-collapse collapse show' : 'accordion-collapse collapse'" data-bs-parent="#accordionExample">
            <div class="accordion-body px-2">
                <app-new-order [iPayment]="iPayment"></app-new-order>
            </div>
        </div>
    </div>
</div>