<div class="mxw-1536px">
    <h1 class="text-purple my-4">About FibeiGreetings</h1>

    <div class="card">
        <div class="card-body">

            <img src="/assets/images/new/static/about-us-banner.png" class="img-fluid" onContextMenu="return false;">
            <br /> <br />

            <div class="bold" style="color: #444 !important; font-weight: bold; font-size: 18px;">
                <p>Welcome to FiBei Greetings!</p>

                <p>We are a website that allows you to express all of your human emotions through
                    personalized
                    greeting cards. Whether you want to
                    send a message of joy, thanks, sympathy, humor, love, or admiration,</p>

                <p>FiBei Greetings has you covered. With our wide variety of sentiments, you can connect
                    with
                    the
                    people who matter most to you on an
                    emotional level. From family and friends to customers, clients, and employees,</p>

                <p>FiBei Greetings makes it easy to show your care and appreciation.</p>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>