<div class="mxw-1320px">
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <br />
                    <br />

                    <h1 class="txt-purple">About FibeiGreetings</h1>
                    <br />
                    <div class="card">
                        <div class="card-body">

                            <img src="/assets/images/new/static/about-us-banner.png" class="img-fluid"
                                onContextMenu="return false;">
                                <br /> <br />

                            <div class="bold" style="color: #444 !important;
            font-weight: bold;
            font-size: 18px;">

                                <p>Welcome to FiBei Greetings!</p>

                                <p>We are a website that allows you to express all of your human emotions through
                                    personalized
                                    greeting cards. Whether you want to
                                    send a message of joy, thanks, sympathy, humor, love, or admiration,</p>

                                <p>FiBei Greetings has you covered. With our wide variety of sentiments, you can connect
                                    with
                                    the
                                    people who matter most to you on an
                                    emotional level. From family and friends to customers, clients, and employees,</p>

                                <p>FiBei Greetings makes it easy to show your care and appreciation.</p>
                                <br />
                                <br />
                            </div>
                        </div>
                        <!-- <p>FibeiGreetings is a new greeting card company that makes other paper products. FibeiGreetings will offer designs, aesthetics, and artistry to its clients and provide entertainment for those who purchase cards to be shared with people in their lives.</p>
                <p>We have our design team and will collaborate with artists from across the world to raise the bar for design and craft in the social expression industry.</p>
                <p>Everything we manufacture reflects our dedication to excellent craftsmanship, focusing on handcrafted, personally handpicked pieces. Today, we continue to emphasize high quality and attention to the smallest details as we try to encourage our customers to express themselves elegantly and connect with one another via celebrations.</p>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>