<div class="top-bar"></div>

<ion-grid class="ion-justify-content-center ion-align-items-center">
  <ion-row
    class="slide-content-container ion-justify-content-center ion-align-items-center"
  >
    <ion-col size="8" class="slide-content ion-text-center logo-container">
      <ion-img
        src="/assets/images/logo_fibeigreetings.png"
        alt="Fibeigreetings"
      ></ion-img>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <form [formGroup]="form" class="ion-justify-content-center ion-margin-horizontal">
      <ion-col
        size="8"
        class="ion-justify-content-center ion-align-items-center"
      >
        <ion-input
          class="email-input"
          label="Email"
          label-placement="floating"
          fill="outline"
          placeholder="Email Address"
          formControlName="email"
        ></ion-input>
      </ion-col>
      <ion-col
        size="8"
        class="ion-justify-content-center ion-align-items-center"
      >
        <ion-input
          class="password-input"
          label="Password"
          label-placement="floating"
          fill="outline"
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </ion-col>
    </form>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-button
      expand="inline-block"
      shape="round"
      class="btn-login"
      fill="outline"
      (click)="submit()"
    >
      <ion-icon name="log-in-outline" class="btn-login-icon"></ion-icon>
      LOG IN
    </ion-button>
  </ion-row>

  <ion-row class="ion-justify-content-center external">
    <ion-img
      src="/assets/images/google.png"
      (click)="onGoogleClick()"
    ></ion-img>
    <ion-img src="/assets/images/facebook_logo.png"></ion-img>
  </ion-row>

  <div class="ion-text-center lbl-forgot">
    <label>
      Forgot password?
      <a (click)="onResetPassword()">Click here to reset.</a>
    </label>
  </div>
</ion-grid>
