/* You can add global styles to this file, and also import other style files */
@import '~lightgallery/scss/lightgallery';

@font-face {
   font-family: Constantia;
   src: url(assets/webfonts/Constantia/Constantia.otf) format("opentype");
}

@font-face {
   font-family: Proxima Nova;
   font-style: normal;
   font-weight: normal;
   src: url('assets/webfonts/ProximaNova/proximanova_regular.ttf') format('truetype');
}

@font-face {
   font-family: Proxima Nova;
   font-style: normal;
   font-weight: bold;
   src: url('assets/webfonts/ProximaNova/proximanova_bold.otf') format('opentype');
}

@font-face {
   font-family: Neue Einstellung;
   font-style: normal;
   font-weight: normal;
   src: url('assets/webfonts/Neue_Einstellung/Hanken Design Co - Neue Einstellung Regular.otf') format('opentype');
}

@font-face {
   font-family: Neue Einstellung;
   font-style: normal;
   font-weight: bold;
   src: url('assets/webfonts/Neue_Einstellung/Hanken Design Co - Neue Einstellung Bold.otf') format('opentype');
}

@font-face {
   font-family: Aristotelica Pro;
   font-style: normal;
   font-weight: normal;
   src: url('assets/webfonts/aristotelica/AristotelicaSmallCaps-Regular.ttf') format('truetype');
}

@import "ngx-material-pages_theme.scss";
@import '@ctrl/ngx-emoji-mart/picker';

@font-face{
   font-family: "Now Bold";
   src: url("https://db.onlinewebfonts.com/t/9dcdfe1b9b9e5bbdf8020454d1724578.eot");
   src: url("https://db.onlinewebfonts.com/t/9dcdfe1b9b9e5bbdf8020454d1724578.eot?#iefix")format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/9dcdfe1b9b9e5bbdf8020454d1724578.woff")format("woff"),
       url("https://db.onlinewebfonts.com/t/9dcdfe1b9b9e5bbdf8020454d1724578.woff2")format("woff2"),
       url("https://db.onlinewebfonts.com/t/9dcdfe1b9b9e5bbdf8020454d1724578.ttf")format("truetype"),
       url("https://db.onlinewebfonts.com/t/9dcdfe1b9b9e5bbdf8020454d1724578.svg#Now Bold")format("svg");
   font-weight:normal;
   font-style:normal;
   font-display:swap;
}

:root {
   --ion-font-family: Constantia;
   --ion-default-font: Constantia;
   --bs-body-font-family: Constantia;
}

html,
body {
   height: 100%;
}

body {
   margin: 0;
   font-family: Constantia;
}

.full-width-dialog .mat-dialog-container {
   max-width: 40vw !important;
}

.sign-out-button {
   display: none !important;
}

.modal-backdrop {
   z-index: 1 !important;
}

.visually-hidden {
   display: none !important;
}

.rate-count {
   padding-top: 7%;
}

.center-content {
   justify-content: center;
}

@media(min-width: 768px) {
   ion-header {
      display: block;
   }

   app-footer {
      display: block;
   }

}

@media(max-width: 768px) {
   ion-header {
      display: block !important;
   }

   .fb_dialog_content>iframe {
      bottom: 70px !Important;
   }

   .navbar.navbar-main,
   .tag-line,
   .my-cart {
      display: none !important;
   }

   app-footer {
      display: none;
   }
}

.fb_dialog_content>iframe {
   bottom: 90px !Important;
}

.mxw-1920px {
   max-width: 1920px;
   margin: auto;
   padding-inline: 20px;
}

.mxw-1536px {
   max-width: 1536px;
   margin: auto;
}

.mxw-1440px {
   max-width: 1440px;
   margin: auto;
}

.mxw-1320px {
   max-width: 1320px;
   margin: auto;
}

.mxw-1080px {
   max-width: 1080px;
   margin: auto;
}

.i-poetry {
   border: 2px solid purple;
   background: white !important;
   color: purple !important;
   font-size: 16px;
   border-left: 10px solid;
}

.i-poetry:hover {
   border: 2px solid #550255;
   background: purple !important;
   color: #fff !important;
   font-size: 16px;
   border-left: 10px solid #550255;
}

.i-featured {
   border: 2px solid #bd283e;
   background: white !important;
   color: #bd283e !important;
   font-size: 16px;
   border-left: 10px solid;
}

.i-featured:hover {
   border: 2px solid #871c2d;
   background: #bd283e !important;
   color: #fff !important;
   font-size: 16px;
   border-left: 10px solid #871c2d;
}

.text-purple{
   color: #ab37c9;
}

.text-gray{
   color: #666;
}
