<ion-content>
    <h2 style="font-size:0px;margin: 0;">Home Page</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/father/home/banner1.png" alt="Father's Day" title="Father's Day" [routerLink]="['/cards/event/rI1NlE173U4xC44FQP2r']" onContextMenu="return false;">
                   </div>
                <div class="col-md-12">
                    <h2 class="label-header">SHOP FATHER'S DAY CARDS</h2>
                </div>
            </div>
            <div class="row cat-easter">
                <div class="col-md-4">
                    <img src="/assets/images/2024/father/home/ps1.png" alt="Message Cards" title="Message Cards"
                    [routerLink]="['/events']" onContextMenu="return false;">
                <!-- <h3 [routerLink]="['/signandsend']">Message Cards</h3> -->
                </div>
                <div class="col-md-4">
                    <img src="/assets/images/2024/father/home/ps2.png" alt="Cards with Poetry" title="Cards with Poetry"
                        [routerLink]="['/poetry']" onContextMenu="return false;">
                    <!-- <h3>Cards with Poetry</h3> -->
                </div>
                <div class="col-md-4">
                    <img src="/assets/images/2024/father/home/ps3.png" alt="Sign and Send" title="Sign and Send"
                    [routerLink]="['/signandsend']" onContextMenu="return false;">
                <!-- <h3 [routerLink]="['/signandsend']">Sign and Send </h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/easter/home/mark.png" alt="easter" title="easter" onContextMenu="return false;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <img src="/assets/images/2024/easter/home/r1.png" alt="birthday" title="birthday"
                        [routerLink]="['/cards/event/A9hXPgJP4YIjJTYusiSS']" onContextMenu="return false;">
                </div>
                <div class="col-md-4 ps-0">
                    <img src="/assets/images/2024/easter/home/s1.png" alt="Anniversary"
                        title="Anniversary" [routerLink]="['/cards/event/64mzSROm9u4GU3LPmKEE']" onContextMenu="return false;">
                </div>
                <div class="col-md-4 pe-0">
                    <img src="/assets/images/2024/easter/home/s2.png" alt="thank you"
                        title="thank you" [routerLink]="['/poetrycards/5tx9z163Jql77mBmvHls']" onContextMenu="return false;">
                </div>
                <div class="col-md-8">
                    <img src="/assets/images/2024/easter/home/r2.png" alt="Wedding" title="Wedding"
                        [routerLink]="['/cards/event/aRQdu4FYb4rASkDhbQmZ']" onContextMenu="return false;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="label-header">MORE CARD CATEGORIES</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-home-featured caption="Graduation" homeCardEvent="Graduation" [limit]="100"></app-home-featured>
                </div>
                <div class="col-md-12">
                    <app-home-featured caption="Get Well" homeCardEvent="Get Well" [limit]="100"></app-home-featured>
                </div>
                <div class="col-md-12">
                    <app-home-featured caption="Sympathy" homeCardEvent="Sympathy" [limit]="100"></app-home-featured>
                </div>
                <div class="col-md-12">
                    <app-home-featured caption="Thank You" homeCardEvent="Thank You" [limit]="100"></app-home-featured>
                </div>
                <div class="col-md-12">
                    <app-home-featured caption="Pet Cards" homeCardEvent="Pet" [limit]="100"></app-home-featured>
                </div>
                
                <!-- <div class="col-md-12" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2024/hbd/home/h6-min.png" [routerLink]="['/stickercards']" class="cursor">
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="position: relative;">
                        <img src="/assets/images/2024/easter/home/more-product.png"  onContextMenu="return false;"/>
                        <div style="height: 80%; width:36%;position: absolute;bottom:0; left:0;cursor: pointer;" [routerLink]="['/stickercards']"></div>
                        <div style="height: 80%; width:28%;position: absolute;bottom:0; left:36%;cursor: pointer;" [routerLink]="['/postcards']"></div>
                        <div style="height: 80%; width:36%;position: absolute;bottom:0; right:0;cursor: pointer;" [routerLink]="['/gifts']"></div>
                    </div>
                </div>
            </div>

            <img src="/assets/images/2024/easter/home/personalized.png" class="personalized" [routerLink]="['/signandsend']" onContextMenu="return false;"/>
            <div class="col-md-12 sns-no-label">
                <app-home-featured caption="Sign and Send"
                    [ids]="['FUmF8oMnhmpO9WgkziZN','GaHUF8E482lLIIebNPrY','JEiZgBQumVFDDyfxlJ24','JLpujLChwAf7CAay9HAx','UP19y5cwfVJByXTlmWQG','IPp9QMwawzBFgtgTxDQ1','gktcGJN6v6ROGUJSrMAU','xFG9kBmBv8sUgwvTWHVM','0PndLlvpXe3V46zHT5RY','2dH8qe9kgc7aN7pHSp4a','4Wz5Qqoa7yYpU0DfIlXA','5KIsabJ3spJSkOmbZLVD','Bfpij5w6qKeXusgh5CwV','QCqK7J0gEmm6sf2gznDj','1e3HY8oyjU0CwsZWqpoK','Gj9DQKqN3krzeVVhJRHb','OqiMLF73ek3TBE2PNPq6','cJXDwCuwCisW1vg24CsP','Ae11kuzI272NDJ159FwT','Tt7wE47yUOCBczValj3b','mqu9kvb4AdF8WwL9TAvA','qbQIVVGWv6LD0V1kPfkR','YM0LKWPou3NXAIAARtGR','6JHecB0o2wkJmYbKXCj8']"></app-home-featured>

            </div>
            <app-sign-up></app-sign-up>

        </div>
    </section>
    <app-footer></app-footer>
</ion-content>