ion-footer {
    font-family: 'Proxima Nova' !important;
}

ion-footer h5{
    margin-block: 8px;
}

.label-header.footer-h3 {
    font-size: 1.5rem;
}

.footer-links a {
    font-size: 1rem;
    font-family: Proxima Nova;
    cursor: pointer;

}

.footer-links a:hover,
.footer-links a:active {
    color: #5e17eb;

}

a{
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.im-social a {
    height: 50px;
    background: #7f05951f;
    margin: 0px 4px;
    border-radius: 50%;
    width: 50px;
    display: inline-block;
    padding: 10px;
    color: #5e17eb;
}

.im-social a:hover {
    color: #fff;
    background-color: #5e17eb;
}
.btn-signup
{
    color: #fff;
    background-color: #5e17eb;
}