<ion-footer>
    <div class="mxw-1920px">
        <br/>
        <ion-row class="footer-links">
            <ion-col>
                <h3 class="label-header footer-h3"> CUSTOMER SERVICE</h3>
                <h5><a [routerLink]="['/new/link/contact-us']">Contact Us</a></h5>
                <h5><a [routerLink]="['/new/link/chat-now']">Chat Now</a></h5>
                <h5><a [routerLink]="['/new/link/review-product']">Review Product</a></h5>
            </ion-col>
            <ion-col>
                <h3 class="label-header footer-h3">KNOW MORE</h3>
                <h5><a [routerLink]="['/new/link/about']">About FibeiGreetings</a></h5>
                <h5><a [routerLink]="['/new/link/press-page']">Press Page</a></h5>
                <!--
                <h5><a [routerLink]="['/new/link/sign-and-send']">Sign And Send</a></h5>
                -->
            </ion-col>
            <ion-col>
                <h3 class="label-header footer-h3">ORDER INFORMATION</h3>
                <h5><a [routerLink]="['/new/link/shipping-and-delivery']">Shipping and Delivery</a></h5>
            </ion-col>

            <ion-col>
                <h3 class="label-header footer-h3">TERMS OF USE</h3>
                <h5><a [routerLink]="['/new/link/terms-and-condition']">Terms and Conditions</a></h5>
                <h5><a [routerLink]="['/new/link/privacy-policy']"> Privacy Policy</a></h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="col-md-4 offset-md-4">
                <div class="text-center">
                    <h3>Connect with us</h3>
                    <div class="input-group mb-4">
                        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email"
                            aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary btn-signup" type="button" id="button-addon2">Sign Up</button>
                    </div>
                    <div class="im-social mb-3">
                        <a href="https://www.instagram.com/fibeigreetings_/" target="_blank" title="Instagram">
                            <i class="fab fa-2x fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/fibeigreetings" target="_blank" title="Facebook">
                            <i class="fab fa-2x fa-facebook"></i>
                        </a>
                        <a href="https://www.pinterest.ph/FibeiGreetings/_saved/" target="_blank" title="Pinterest">
                            <i class="fab fa-2x fa-pinterest"></i>
                        </a>
                        <a href="https://twitter.com/fibeigreetings" target="_blank" title="Twitter">
                            <i class="fab fa-2x fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCaxLPWhwZxDCxRX3ztHvPBQ" target="_blank" title="Youtube">
                            <i class="fab fa-2x fa-youtube"></i>
                        </a>
                        <a href="mailto:fibeigreetingsph@gmail.com" target="_blank" target="_blank" title="Mail">
                            <i class="fa fa-2x fa-envelope"></i>
                        </a>
                    </div>
                    <a href="/" class="mb-4"><img src="/assets/images/logo_fibeigreetings.png" class="img-fluid" style="max-height:50px;" onContextMenu="return false;"></a>
                    <div class="mb-5">© 2024 FiBeiGreetings.com</div>
                </div>

            </div>
        </ion-row>
    </div>
</ion-footer>