<ion-content [fullscreen]="true">
  <app-title-mobile title="Cart" [wishlist]="true"></app-title-mobile>

  <app-loading-mobile [loading]="loading"></app-loading-mobile>

  <div class="mxw-1920px no-item bg-light" *ngIf="loading == false && carts.length === 0">
    <h3 class="text-purple my-0">No item on cart.</h3>
    <h6 class="text-gray my-0">Explore our Products</h6>
    <div class="mt-4">
      <app-new-products></app-new-products>
    </div>
  </div>


  <div class="item-col item-checkbox ion-align-items-center ion-justify-content-center">
    <div class="select-all">
      <ion-item lines="none">
        <ion-checkbox  slot="start"   
          *ngIf="carts"
          [indeterminate]="isIndeterminateCheckAll"
          [checked]="isCheckAll"
          (ionChange)="onCheckAllChange($event)"
          [disabled]="carts.length == 0"
        ></ion-checkbox>
        <ion-label> ALL ({{carts.length}})</ion-label>
        <ion-buttons slot="end">
          <ion-button size="small" color="danger" [disabled]="getMarkCount() === 0" (click)="deleteAll()">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </div>

  <div class="bg-light" *ngIf="loading == false && carts.length > 0">
    <div class="mxw-1920px row">
      <div class="col-md-9">
        <ion-list class="bg-light">

          <ion-item-sliding *ngFor="let cart of carts" #slideoptions>
            <ion-item [button]="true" lines="none">   <!-- (click)="onClick(cart.id)" -->
              <app-cart-item-mobile 
                #child
                [cart]="cart"
                [status]="cart.mark"
                [forceMark]="cart.mark"
                (onChangeMark)="onChangeItemMark(cart.id, $event)"
              >
              </app-cart-item-mobile>
            </ion-item>
          </ion-item-sliding>

        </ion-list>
      </div>

      <div class="col-md-3 ps-1">
        <div class="card bg-light border-light">
          <div class="card-body">
            <h3 class="mt-0 mb-4">Order Summary</h3>

            <div class="space-between">
              <h5 class="my-0">Subtotal</h5>
              <h5 class="my-0 text-purple">{{ totalDisplay }}</h5>
            </div>
            <hr />
            <div class="space-between mb-4">
              <h5 class="my-0">Estimated Total</h5>
              <h5 class="my-0 text-purple">{{ totalDisplay }}</h5>
            </div>
            <div class="text-center" *ngIf="user !== undefined">
              <button
                class="checkout"
                [disabled]="count === 0 || saving === true"
                (click)="onClickCheckout()"
              >
                Proceed to checkout
              </button>
            </div>
            <div *ngIf="user === undefined">
              <label>No user sign in!</label>
              <a class="mx-1" (click)="onClickSignIn()">Sign in</a>
              <label class="mx-1">or</label>
              <a [routerLink]="['/new/registration']">Join us now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
