<ion-content>
    <h2 style="font-size:0px;margin: 0;">Poetry Cards</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="header-div">
                <ion-label class="label-header">POETRY CARDS</ion-label>
            </div>
            <div class="subheader-div">
                <ion-label class="label-subheader">FiBei Greetings Poetry Cards collection, where words dance on
                    paper to express emotions and sentiments in the most beautiful way. </ion-label>
            </div>

            <div class="row">
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/bday/poetry.png" onContextMenu="return false;">
                    <div style="    height: 30%;
                    width: 23%;
                    position: absolute;
                    bottom: 15%;
                    cursor: pointer;
                    left: 11%;" [routerLink]="['/poetrycards/A9hXPgJP4YIjJTYusiSS']"></div>
                     <div style="   height: 30%;
                     width: 23%;
                     position: absolute;
                     bottom: 15%;
                     cursor: pointer;
                     left: 66%;
                     " [routerLink]="['/signandsendcards/TrWiEwu2hRwZEm6Zilvx']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="header-div">
                        <ion-label class="label-header">More Poetry Cards</ion-label>
                    </div>
                    <div class="header-div">
                        <ion-label class="label-header" style="font-size: 2rem;">Occasions and Events</ion-label>
                    </div>
                </div>
            </div>
            <div class="row bg-white py-3">
                <div class="col-12 my-2"></div>
                <div class="col-md-12  my-auto">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let event of events">
                            <a class="btn-category-gray" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                        <div class="col-md-3" *ngFor="let event of occasions">
                            <a class="btn-category-gray" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-div">
                <ion-label class="label-header" style="font-size: 2rem;">Specialty Cards</ion-label>
            </div>
            <div class="row bg-white py-3">
                <div class="col-12 my-2"></div>
                <div class="col-md-12  my-auto">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let event of specialty">
                            <a class="btn-category" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/easter/page/free.png" onContextMenu="return false;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="f-title">More from FiBeiGreetings</h2>
                    <br />
                </div>

                <div class="col-md-10 offset-md-1">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/stickercards']">STICKERS</div>
                        </div>
                        <div class="col-md-6" *ngIf="priceService.getLocation() === 'ph'">
                            <div class="f-links" [routerLink]="['/gifts']">GIFTS</div>
                        </div>
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/specialtycardpage']">SPECIALTY CARDS</div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/games']">GAMES</div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/easter/page/SS.png" [routerLink]="['/signandsend']" onContextMenu="return false;">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>