<ion-content>
    <h2 style="font-size:0px;margin: 0;">Poetry Cards</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="header-div">
                <ion-label class="label-header">POETRY CARDS</ion-label>
            </div>
            <div class="subheader-div">
                <ion-label class="label-subheader">FiBei Greetings Poetry Cards collection, where words dance on
                    paper to express emotions and sentiments in the most beautiful way. </ion-label>
            </div>

            <div class="row">
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/easter/poetry/img1.png">
                    <div style="    height: 42%;
                    width: 37%;
                    position: absolute;
                    bottom: 23%;
                    cursor: pointer;
                    left: 4%;" [routerLink]="['/poetrycards/wiqT7aRUk5ndo0zsxpsy']"></div>
                    <div style="height: 42%;
                    width: 36%;
                    position: absolute;
                    bottom: 23%;
                    cursor: pointer;
                    right: 4%;
                    " [routerLink]="['/signandsendcards/t2lf6uwXUHih22nJDwrY']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="header-div">
                        <ion-label class="label-header">More Poetry Cards</ion-label>
                    </div>
                    <div class="header-div">
                        <ion-label class="label-header" style="font-size: 2rem;">Occasions and Events</ion-label>
                    </div>
                </div>
            </div>
            <div class="row bg-white py-3">
                <div class="col-12 my-2"></div>
                <!--<div class="col-12 ">
                    <a class="btn-featured" *ngIf="featured" [routerLink]="['/poetrycards/' + featured.id]">
                        <img src="/assets/images/poetry/featured-category.jpg" class="img-fluid">
                    </a>
                    <img src="/assets/images/poetry/other.jpg" class="img-fluid">
                </div>-->
                <div class="col-md-12  my-auto">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let event of events">
                            <a class="btn-category-gray" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                        <div class="col-md-3" *ngFor="let event of occasions">
                            <a class="btn-category-gray" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-div">
                <ion-label class="label-header" style="font-size: 2rem;">Specialty Cards</ion-label>
            </div>
            <div class="row bg-white py-3">
                <div class="col-12 my-2"></div>
                <!--<div class="col-12 ">
                    <a class="btn-featured" *ngIf="featured" [routerLink]="['/poetrycards/' + featured.id]">
                        <img src="/assets/images/poetry/featured-category.jpg" class="img-fluid">
                    </a>
                    <img src="/assets/images/poetry/other.jpg" class="img-fluid">
                </div>-->
                <div class="col-md-12  my-auto">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let event of specialty">
                            <a class="btn-category" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/easter/page/free.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="f-title">More from FiBeiGreetings</h2>
                    <br />
                </div>

                <div class="col-md-10 offset-md-1">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/stickercards']">STICKERS</div>
                        </div>
                        <div class="col-md-6" *ngIf="priceService.getLocation() != 'ph'">
                            <div class="f-links" [routerLink]="['/gifts']">GIFTS</div>
                        </div>
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/specialtycardpage']">SPECIALTY CARDS</div>
                        </div>
                        <div class="col-md-6">
                            <div class="f-links" [routerLink]="['/games']">GAMES</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/easter/page/SS.png" [routerLink]="['/signandsend']">
                </div>
            </div>

            <!-- 
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/more-min.png">
                    <br /><br />
                </div>
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/hbd/more-2-min.png">
                    <div style="height: 67%;width: 21%; position: absolute; left: 23%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 45.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 68.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/signandsend']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/delivery-ph-min.png" *ngIf="priceService.getLocation() == 'ph'"
                        class="img-fluid " style="width:100%">
                    <img src="/assets/images/2024/hbd/delivery-min.png" *ngIf="priceService.getLocation() != 'ph'"
                        class="img-fluid " style="width:100%">
                    <br /> <br />
                </div>
            </div> -->
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>